/*!
 * Import fonts
 */
@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: url("../fonts/roboto-v18-latin-ext_vietnamese_latin-300.eot");
  src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/roboto-v18-latin-ext_vietnamese_latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v18-latin-ext_vietnamese_latin-300.woff2") format("woff2"), url("../fonts/roboto-v18-latin-ext_vietnamese_latin-300.woff") format("woff"), url("../fonts/roboto-v18-latin-ext_vietnamese_latin-300.ttf") format("truetype"), url("../fonts/roboto-v18-latin-ext_vietnamese_latin-300.svg#Roboto") format("svg"); }

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url("../fonts/roboto-v18-latin-ext_vietnamese_latin-700.eot");
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto-v18-latin-ext_vietnamese_latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v18-latin-ext_vietnamese_latin-700.woff2") format("woff2"), url("../fonts/roboto-v18-latin-ext_vietnamese_latin-700.woff") format("woff"), url("../fonts/roboto-v18-latin-ext_vietnamese_latin-700.ttf") format("truetype"), url("../fonts/roboto-v18-latin-ext_vietnamese_latin-700.svg#Roboto") format("svg"); }

body {
  font-family: "Roboto", sans-serif; }

a {
  transition: all 0.3s ease;
  cursor: pointer; }

a, input, textarea, button {
  outline: none; }

.wrap-countdown {
  font-size: 24px;
  text-align: center;
  background: #242424;
  color: #fff;
  font-weight: 300;
  padding: 12px 16px; }
  .wrap-countdown .time {
    color: #fdd835;
    font-weight: 700;
    letter-spacing: 4px;
    font-size: 28px; }
    .wrap-countdown .time.days {
      margin-left: 10px; }
  .wrap-countdown .time_text {
    font-size: 27px;
    margin-right: 8px; }
    .wrap-countdown .time_text.seconds_text {
      margin-right: 0; }
