@import "mystyles";

body {
    font-family: $main-font;
}

a {
    transition: all 0.3s ease;
    cursor: pointer;
}

a, input, textarea, button {
    outline: none;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    box-shadow: 0 5px 10px 0 rgba(44, 57, 66, 0.3);
    iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
}