/* ---------------------------------------
    SPINNER
----------------------------------------- */
@import "utilities/spinner.less";
/* ---------------------------------------
    PAGINATION
----------------------------------------- */
@import "utilities/pagination.less";

/* ---------------------------------------
    PARALLAX
----------------------------------------- */
.parallax {
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
        background-attachment: scroll;
    }
}

/* ---------------------------------------
    WRAP MEDIA
----------------------------------------- */
.wrap-media {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 0;

    .centerer {
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
    img, .img, object {
        vertical-align: middle;
        display: inline-block;
        max-height: 100%;
        max-width: 100%;
    }
}

/* ---------------------------------------
    HEADER
----------------------------------------- */
header.header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
    &.static {
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
        height: 75px;
        position: relative;
        .logo {
            margin-top: 18px;
            a {
                background: url('../images/logo-2.png') no-repeat;
            }
        }
        .main-nav {
            top: 32px;
            li {
                a {
                    color: #424242;
                }
            }
        }
    }
    .container {
        position: relative;
    }
    .logo {
        float: left;
        margin: 20px 0 0;
        a {
            background: url('../images/logo.png') no-repeat;
            display: inline-block;
            height: 40px;
            text-indent: -9999px;
            width: 148px;
        }
    }
    .main-nav {
        font-family: "Poppins", sans-serif;
        position: absolute;
        right: -7px;
        top: 35px;
        @media (max-width: @screen-sm-max) {
            height: 34px;
            position: relative;
            z-index: 100;
        }
        li {
            display: inline-block;
            margin: 0 15px;
            @media (max-width: @screen-sm-max) {
                display: block;
            }
            a {
                color: #fff;
                font-size: 15px;
            }
        }
        .minimal-menu {
            .menu {
                > li {
                    &.current {
                        > a {
                            &:before {
                                bottom: -5px;
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                    > a {
                        &:before {
                            background-color: @main-color;
                            bottom: 2px;
                            content: "";
                            height: 2px;
                            left: 0;
                            position: absolute;
                            width: 100%;
                            opacity: 0;
                            visibility: hidden;
                            transition: all 0.2s ease;
                        }
                        &:hover,
                        &:focus {
                            &:before {
                                bottom: -5px;
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                }
                .sub-menu {
                    background-color: #fff;
                    box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
                    text-align: left;
                    li {
                        a {
                            color: #424242;
                            padding: 15px;
                            &:hover {
                                color: @main-color;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* ---------------------------------------
    HERO
----------------------------------------- */
.hero {
    position: relative;
    .wrap-sliders {
        overflow: hidden;
        .ms-slide {
            .ms-caption {
                .slider-text {
                    &.text-1 {
                        margin-top: 300px;
                    }
                    &.text-2 {
                        margin-top: 345px;
                    }
                    &.text-3 {
                        margin-top: 410px;
                    }
                    &.text-4 {
                        margin-top: 460px;
                    }
                }
                h3 {
                    color: #fffefe;
                    font-family: "Poppins", sans-serif;
                    font-size: 57px;
                    font-weight: 700;
                    margin: 0;
                    text-transform: uppercase;
                }
                h4 {
                    color: #fffefe;
                    font-family: "Arvo", sans-serif;
                    font-size: 30px;
                    margin: 0;
                    text-transform: uppercase;
                }
                h5 {
                    color: #fffefe;
                    font-family: "Arvo", sans-serif;
                    font-size: 20px;
                    margin: 0;
                    text-transform: uppercase;
                }
                a {
                    color: @main-color;
                    font-family: "Poppins", sans-serif;
                    font-weight: 500;
                    text-transform: uppercase;
                    img {
                        margin-right: 10px;
                    }
                }
            }
        }
        .ms-nav-next {
            background: url('../images/next-icon.png') no-repeat;
            width: 19px;
            height: 36px;
            right: -50px;
            &:before {
                content: none;
            }
        }
        .ms-nav-prev {
            background: url('../images/prev-icon.png') no-repeat;
            width: 19px;
            height: 36px;
            left: -50px;
            &:before {
                content: none;
            }
        }
    }
}

/* ---------------------------------------
    WHO WE ARE
----------------------------------------- */
.who-we-are {
    background-color: #f7f7f7;
    position: relative;
    .wwa-text {
        font-size: 15px;
        padding: 100px 45% 20px 0;
        h3 {
            font-family: "Poppins", sans-serif;
            font-size: 40px;
            font-weight: 700;
            margin: 0 0 20px;
            text-transform: uppercase;
        }
        p {
            margin-bottom: 30px;
        }
        ul {
            margin-bottom: 0;
            li {
                list-style: none;
                margin-bottom: 30px;
                .media {
                    .media-body {
                        padding-top: 11px;
                        h4 {
                            color: @main-color;
                            font-family: "Poppins", sans-serif;
                            font-size: 18px;
                            font-weight: 700;
                            margin: 0;
                            text-transform: uppercase;
                        }
                        p {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
    .wwa-img {
        background: url('../images/wwa-img-1.jpg') no-repeat center / cover;
        bottom: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 40%;
    }
}

/* ---------------------------------------
    SERVICES
----------------------------------------- */
.services {
    overflow: hidden;
    padding-top: 100px;
    .container {
        position: relative;
        height: 700px;
    }
    h3 {
        font-family: "Poppins", sans-serif;
        font-size: 40px;
        font-weight: 700;
        margin: 0 0 5px;
        text-align: center;
        text-transform: uppercase;
    }
    h4 {
        font-family: "Poppins", sans-serif;
        font-size: 20px;
        font-weight: 700;
        margin: 20px 0 15px;
        text-transform: uppercase;
    }
    h5 {
        font-size: 16px;
        margin: 0;
        text-align: center;
    }
    .media {
        margin-top: 40px;
        &:first-child {
            margin-top: 0;
        }
        .media-left {
            padding-right: 20px;
        }
        .media-right {
            padding-left: 20px;
        }
    }
    .services-left-text {
        left: 50%;
        position: absolute;
        text-align: right;
        top: 160px;
        transform: translateX(~"calc(-50% - 435px)");
        width: 400px;
    }
    .services-right-text {
        position: absolute;
        right: 50%;
        top: 200px;
        transform: translateX(~"calc(-50% + 825px)");
        width: 400px;
    }
    .services-img {
        background: url('../images/services-img.png') no-repeat;
        bottom: -280px;
        height: 869px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 500px;
    }
}

/* ---------------------------------------
    OUR PROCESS
----------------------------------------- */
.our-process {
    background-image: url("../images/op-bg.jpg");
    color: #fff;
    padding-bottom: 50px;
    padding-top: 110px;
    position: relative;
    text-align: center;
    z-index: 1;
    &:before {
        background-color: rgba(0, 0, 0, 0.75);
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }
    h3 {
        font-family: "Poppins", sans-serif;
        font-size: 40px;
        font-weight: 700;
        margin: 0 0 5px;
    }
    h4 {
        color: #fff;
        font-family: "Poppins", sans-serif;
        font-size: 20px;
        font-weight: 700;
        margin: 0 0 10px;
        text-align: left;
        text-transform: uppercase;
    }
    h5 {
        font-size: 16px;
        margin: 0;
    }
    .list-op {
        font-size: 0;
        margin-top: 60px;
        .op-item {
            display: inline-block;
            margin: 0 70px;
            img {
                margin-bottom: 15px;
            }
            ul {
                font-size: 15px;
                text-align: left;
                li {
                    list-style: none;
                    margin-bottom: 10px;
                    &:before {
                        content: "-";
                    }
                }
            }
        }
    }
}

/* ---------------------------------------
    CASE STUDY
----------------------------------------- */
.case-study {
    background-color: #f7f7f7;
    padding-top: 110px;
    padding-bottom: 50px;
    h3 {
        font-family: "Poppins", sans-serif;
        font-size: 40px;
        font-weight: 700;
        margin: 0 0 5px;
        text-align: center;
        text-transform: uppercase;
    }
    h5 {
        font-size: 16px;
        margin: 0;
        text-align: center;
    }
    .stats {
        margin: 60px 100px;
        .stats-item {
            strong {
                color: @main-color;
                display: inline-block;
                font-family: "Poppins", sans-serif;
                font-size: 30px;
                line-height: 1;
                margin-top: 5px;
            }
            span {
                display: block;
                font-family: "Arvo", sans-serif;
                font-size: 20px;
                line-height: 1;
            }
        }
    }
    .cs-item {
        background-color: #fff;
        border-radius: 5px;
        margin-bottom: 20px;
        overflow: hidden;
        padding: 10px;
        transition: all 0.4s ease;
        &:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        }
        h4 {
            font-family: Poppins, sans-serif;
            font-size: 13px;
            margin: 15px 0 10px;
            a {
                color: @second-color;
            }
        }
        .cs-img {
            margin: -10px -10px 0;
            width: ~"calc(100% + 20px)";
        }
        a {
            color: @main-color;
            font-family: "Poppins", sans-serif;
            img {
                margin-right: 10px;
            }
        }
    }
    .view-more-link {
        border: 1px solid @main-color;
        color: @main-color;
        display: inline-block;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        padding: 16px 20px 15px;
        margin-top: 25px;
        text-transform: uppercase;
        &:hover {
            background-color: @main-color;
            color: #fff;
        }
    }
}

/* ---------------------------------------
    MEET THE TEAM
----------------------------------------- */
.meet-the-team {
    padding-bottom: 60px;
    padding-top: 110px;
    text-align: center;
    h3 {
        font-family: "Poppins", sans-serif;
        font-size: 40px;
        font-weight: 700;
        margin: 0 0 5px;
    }
    h5 {
        font-size: 16px;
        margin: 0 0 60px;
    }
    .list-members {
        font-family: "Poppins", sans-serif;
        img {
            display: inline-block;
            margin-bottom: 20px;
        }
        h4 {
            color: @main-color;
            font-size: 20px;
            font-weight: 700;
            margin: 0 0 10px;
        }
        h6 {
            font-size: 15px;
            font-weight: normal;
            margin: 0;
        }
    }
    .slick-next, .slick-prev {
        width: 19px;
        height: 36px;
        z-index: 100;
        &:before {
            content: none;
        }
    }
    .slick-next {
        background: url('../images/next-icon-2.png') no-repeat;
        right: 0;
    }
    .slick-prev {
        background: url('../images/prev-icon-2.png') no-repeat;
        left: 0;
    }
}

/* ---------------------------------------
    TESTIMONIAL
----------------------------------------- */
.testimonial {
    background-image: url("../images/testi-bg.jpg");
    color: #fff;
    padding-bottom: 70px;
    padding-top: 70px;
    position: relative;
    text-align: center;
    z-index: 1;
    &:before {
        background-color: rgba(0, 0, 0, 0.75);
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }
    .media {
        margin: 0 auto 20px;
        text-align: left;
        width: 200px;
    }
    p {
        font-size: 15px;
        line-height: 1.6;
    }
    h4 {
        color: @main-color;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        margin: 15px 0 5px;
    }
    h6 {
        color: #fefefe;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-weight: normal;
        margin: 0;
    }
    .list-testi {
        width: 700px;
        margin: auto;
    }
    .slick-next, .slick-prev {
        width: 19px;
        height: 36px;
        z-index: 100;
        &:before {
            content: none;
        }
    }
    .slick-next {
        background: url('../images/next-icon.png') no-repeat;
        right: -25px;
    }
    .slick-prev {
        background: url('../images/prev-icon.png') no-repeat;
        left: -25px;
    }
}

/* ---------------------------------------
    CLIENTS
----------------------------------------- */
.clients {
    background-color: #f7f7f7;
    padding-top: 40px;
    padding-bottom: 40px;
    .slick-next, .slick-prev {
        width: 19px;
        height: 36px;
        z-index: 100;
        &:before {
            content: none;
        }
    }
    .slick-next {
        background: url('../images/next-icon-2.png') no-repeat;
        right: -25px;
    }
    .slick-prev {
        background: url('../images/prev-icon-2.png') no-repeat;
        left: -25px;
    }
}

/* ---------------------------------------
    CONTACT US
----------------------------------------- */
.contact-us {
    background-color: #fdfdfd;
    .contact-inner {
        display: table;
    }
    .contact-info {
        display: table-cell;
        vertical-align: middle;
        width: 50%;
        h3 {
            font-family: "Poppins", sans-serif;
            font-size: 40px;
            font-weight: 700;
            margin: 0 0 5px;
            text-transform: uppercase;
        }
        h4 {
            font-family: "Arvo", sans-serif;
            font-size: 16px;
            line-height: 1.5;
            margin: 0 0 55px;
        }
        .wrap-address {
            display: table;
            font-size: 16px;
            margin-bottom: 40px;
            .left {
                display: table-cell;
                padding-right: 30px;
                vertical-align: middle;
            }
            .right {
                display: table-cell;
                vertical-align: top;
                p {
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
        }
        .socials {
            font-size: 0;
            margin-bottom: 0;
            padding-left: 80px;
            li {
                display: inline-block;
                margin-right: 20px;
                a {
                    color: #7e7e7e;
                    font-size: 26px;
                    &:hover {
                        color: @main-color;
                    }
                }
            }
        }
    }
    .contact-form {
        background-color: @main-color;
        display: table-cell;
        padding: 70px 50px;
        position: relative;
        vertical-align: top;
        ::-webkit-input-placeholder {
            color: #fff;
        }
        :-moz-placeholder {
            color: #fff;
        }
        ::-moz-placeholder {
            color: #fff;
        }
        :-ms-input-placeholder {
            color: #fff;
        }
        input[type="text"], input[type="email"], textarea {
            background-color: transparent;
            color: #fff;
            font-size: 16px;
            font-weight: 300;
            border-color: #fff;
            border-style: none none solid;
            border-width: 1px;
            height: 30px;
            margin-bottom: 30px;
            width: 100%;
        }
        textarea {
            height: 120px;
            resize: none;
        }
        .send-btn {
            background-color: #f7f7f7;
            border: 1px solid #fff;
            color: @main-color;
            font-size: 16px;
            padding: 6px 22px 7px;
            text-transform: uppercase;
        }
    }
}

/* ---------------------------------------
    MAIN
----------------------------------------- */
.main {
    /* ---------------------------------------
        BLOG PAGE
    ----------------------------------------- */
    .wrap-blog {
        background-color: #f7f7f7;
        .top-content {
            background-image: url("../images/top-blog-bg.jpg");
            color: #fff;
            padding-bottom: 120px;
            padding-top: 140px;
            position: relative;
            text-align: center;
            z-index: 1;
            &:before {
                background-color: rgba(0, 0, 0, 0.75);
                bottom: 0;
                content: "";
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                z-index: -1;
            }
            .top-content-inner {
                margin: auto;
                overflow: hidden;
                width: 670px;
                .caption {
                    font-family: "Arvo", sans-serif;
                    font-size: 30px;
                    position: relative;
                    text-transform: uppercase;
                    span {
                        position: relative;
                        &:before {
                            background-color: @main-color;
                            content: "";
                            height: 2px;
                            position: absolute;
                            right: ~"calc(100% + 10px)";
                            top: 50%;
                            width: 1000px;
                        }
                        &:after {
                            background-color: @main-color;
                            content: "";
                            height: 2px;
                            left: ~"calc(100% + 10px)";
                            position: absolute;
                            top: 50%;
                            width: 1000px;
                        }
                    }
                }
                h4 {
                    font-family: "Poppins", sans-serif;
                    font-size: 40px;
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }
        }
        .main-content {
            padding: 40px 0;
            .list-blogs {
                margin: auto;
                width: 880px;
                .blog-item {
                    border-bottom: 1px solid #ddd;
                    margin-bottom: 30px;
                    padding-bottom: 30px;
                    .img-container {
                        border-radius: 10px;
                        overflow: hidden;
                        img {
                            width: 100%;
                        }
                    }
                    h4 {
                        font-family: "Poppins", sans-serif;
                        font-size: 20px;
                        font-weight: 700;
                        margin: 15px 0 5px;
                        a {
                            color: #fd8344;
                        }
                    }
                    .post-date {
                        color: #999;
                        display: inline-block;
                        font-size: 15px;
                        margin-bottom: 10px;
                    }
                    .excerpt {
                        font-size: 14px;
                        line-height: 1.5;
                        margin-bottom: 20px;
                    }
                    .bottom-blog-item {
                        overflow: hidden;
                        .view-more-link {
                            border: 1px solid @main-color;
                            color: @main-color;
                            float: left;
                            font-family: "Poppins", sans-serif;
                            font-weight: 500;
                            padding: 11px 30px 10px;
                            text-transform: uppercase;
                            &:hover {
                                background-color: @main-color;
                                color: #fff;
                            }
                        }
                        .wrap-share {
                            float: right;
                            font-family: "Poppins", sans-serif;
                            position: relative;
                            span {
                                left: -40px;
                                position: absolute;
                                top: 12px;
                            }
                            ul {
                                font-size: 0;
                                margin-bottom: 0;
                                li {
                                    display: inline-block;
                                    margin-left: 8px;
                                    text-align: center;
                                    a {
                                        border: 1px solid #bbb;
                                        color: #acacac;
                                        display: inline-block;
                                        font-size: 20px;
                                        height: 40px;
                                        padding-top: 6px;
                                        width: 40px;
                                        &:hover {
                                            border-color: @main-color;
                                            background-color: @main-color;
                                            color: #fff;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    /* ---------------------------------------
        SERVICE PAGE
    ----------------------------------------- */
    .wrap-service {
        background-color: #f7f7f7;
        .top-content {
            background-image: url("../images/top-blog-bg.jpg");
            color: #fff;
            padding-bottom: 120px;
            padding-top: 140px;
            position: relative;
            text-align: center;
            z-index: 1;
            &:before {
                background-color: rgba(0, 0, 0, 0.75);
                bottom: 0;
                content: "";
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                z-index: -1;
            }
            .top-content-inner {
                margin: auto;
                overflow: hidden;
                width: 696px;
                .caption {
                    font-family: "Arvo", sans-serif;
                    font-size: 30px;
                    margin: 0 0 20px;
                    position: relative;
                    text-transform: uppercase;
                    span {
                        position: relative;
                        &:before {
                            background-color: @main-color;
                            content: "";
                            height: 2px;
                            position: absolute;
                            right: ~"calc(100% + 10px)";
                            top: 50%;
                            width: 1000px;
                        }
                        &:after {
                            background-color: @main-color;
                            content: "";
                            height: 2px;
                            left: ~"calc(100% + 10px)";
                            position: absolute;
                            top: 50%;
                            width: 1000px;
                        }
                    }
                }
                h4 {
                    font-family: "Poppins", sans-serif;
                    font-size: 60px;
                    font-weight: 700;
                    margin: 0 0 10px;
                    text-transform: uppercase;
                }
                h5 {
                    font-family: "Arvo", sans-serif;
                    font-size: 20px;
                    letter-spacing: 5px;
                    text-transform: uppercase;
                    word-spacing: 8px;
                    margin: 0;
                }
            }
        }
        .main-content {
            padding: 30px 0 60px;
            .service-menu {
                margin-bottom: 50px;
                text-align: center;
                li {
                    display: inline-block;
                    margin: 0 20px;
                    &.active, &:hover {
                        a {
                            color: @main-color;
                        }
                        .icon {
                            &.mobile-icon {
                                background: url('../images/services-icon-1.png') no-repeat;
                            }
                            &.graphic-icon {
                                background: url('../images/services-icon-3.png') no-repeat;
                            }
                            &.support-icon {
                                background: url('../images/services-icon-5.png') no-repeat;
                            }
                            &.web-icon {
                                background: url('../images/services-icon-2.png') no-repeat;
                            }
                            &.offshore-icon {
                                background: url('../images/services-icon-4.png') no-repeat;
                            }
                            &.software-icon {
                                background: url('../images/services-icon-6.png') no-repeat;
                            }
                        }
                    }
                    a {
                        color: #aeaeae;
                    }
                    .icon {
                        display: inline-block;
                        width: 50px;
                        height: 58px;
                        &.mobile-icon {
                            background: url('../images/services-icon-1-inactive.png') no-repeat;
                        }
                        &.graphic-icon {
                            background: url('../images/services-icon-3-inactive.png') no-repeat;
                        }
                        &.support-icon {
                            background: url('../images/services-icon-5-inactive.png') no-repeat;
                        }
                        &.web-icon {
                            background: url('../images/services-icon-2-inactive.png') no-repeat;
                        }
                        &.offshore-icon {
                            background: url('../images/services-icon-4-inactive.png') no-repeat;
                        }
                        &.software-icon {
                            background: url('../images/services-icon-6-inactive.png') no-repeat;
                        }
                    }
                    h3 {
                        font-family: "Poppins", sans-serif;
                        font-size: 15px;
                        font-weight: 700;
                        margin: 15px 0 0;
                        text-transform: uppercase;
                        position: relative;
                        &:before {
                            content: "";
                            height: 25px;
                            left: 0;
                            position: absolute;
                            top: -23px;
                            width: 100%;
                        }
                    }
                }
            }
            .service-content {
                font-size: 15px;
                line-height: 1.7;
                p {
                    margin-bottom: 20px;
                }
                .capability {
                    margin-bottom: 20px;
                    h4 {
                        color: @main-color;
                        font-family: "Poppins", fantasy;
                        font-size: 20px;
                        font-weight: 700;
                        margin: 0 0 5px;
                        text-transform: uppercase;
                    }
                    ul {
                        margin-bottom: 0;
                        li {
                            list-style: none;
                            &:before {
                                content: "-";
                                margin: 0 5px;
                            }
                        }
                    }
                }
                .view-more-link {
                    border: 1px solid @main-color;
                    color: @main-color;
                    display: inline-block;
                    font-family: "Poppins", sans-serif;
                    padding: 10px 15px;
                    text-transform: uppercase;
                    &:hover {
                        background-color: @main-color;
                        color: #fff;
                    }
                }
            }
        }
    }
    /* ---------------------------------------
        INTERVIEW PAGE
    ----------------------------------------- */
    .wrap-interview {
        background-color: #f7f7f7;
        .top-content {
            background-image: url("../images/top-blog-bg.jpg");
            color: #fff;
            padding-bottom: 120px;
            padding-top: 140px;
            position: relative;
            text-align: center;
            z-index: 1;
            &:before {
                background-color: rgba(0, 0, 0, 0.75);
                bottom: 0;
                content: "";
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                z-index: -1;
            }
            .top-content-inner {
                margin: auto;
                overflow: hidden;
                width: 670px;
                &.big {
                    width: 771px;
                }
                .caption {
                    font-family: "Arvo", sans-serif;
                    font-size: 30px;
                    position: relative;
                    text-transform: uppercase;
                    span {
                        position: relative;
                        &:before {
                            background-color: @main-color;
                            content: "";
                            height: 2px;
                            position: absolute;
                            right: ~"calc(100% + 10px)";
                            top: 50%;
                            width: 1000px;
                        }
                        &:after {
                            background-color: @main-color;
                            content: "";
                            height: 2px;
                            left: ~"calc(100% + 10px)";
                            position: absolute;
                            top: 50%;
                            width: 1000px;
                        }
                    }
                }
                h4 {
                    font-family: "Poppins", sans-serif;
                    font-size: 40px;
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }
        }
        .main-content {
            padding: 40px 0;
            .interview-header {
                text-align: center;
                margin-bottom: 30px;
                h3 {
                    color: @main-color;
                    font-family: "Poppins", sans-serif;
                    font-size: 20px;
                    font-weight: 700;
                    margin: 0 0 5px;
                    text-transform: uppercase;
                }
                h5 {
                    color: #999;
                    font-size: 15px;
                    margin: 0;
                }
                h6 {
                    color: #999;
                    font-size: 13px;
                    margin: 0;
                    span {
                        display: inline-block;
                        margin: 0 15px;
                    }
                }
            }
            .interview-content {
                font-size: 14px;
                line-height: 1.6;
                width: 930px;
                margin: auto;
                p {
                    margin-bottom: 20px;
                }
                .wrap-share {
                    font-family: "Poppins", sans-serif;
                    display: inline-block;
                    position: relative;
                    span {
                        float: left;
                        margin-top: 10px;
                    }
                    ul {
                        float: left;
                        font-size: 0;
                        margin-bottom: 0;
                        li {
                            display: inline-block;
                            margin-left: 8px;
                            text-align: center;
                            a {
                                border: 1px solid #bbb;
                                color: #acacac;
                                display: inline-block;
                                font-size: 20px;
                                height: 40px;
                                padding-top: 6px;
                                width: 40px;
                                &:hover {
                                    border-color: @main-color;
                                    background-color: @main-color;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    /* ---------------------------------------
        JOB PAGE
    ----------------------------------------- */
    .wrap-job {
        background-color: #f7f7f7;
        .top-content {
            background-image: url("../images/top-blog-bg.jpg");
            color: #fff;
            padding-bottom: 120px;
            padding-top: 140px;
            position: relative;
            text-align: center;
            z-index: 1;
            &:before {
                background-color: rgba(0, 0, 0, 0.75);
                bottom: 0;
                content: "";
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                z-index: -1;
            }
            .top-content-inner {
                margin: auto;
                overflow: hidden;
                width: 771px;
                .caption {
                    font-family: "Arvo", sans-serif;
                    font-size: 30px;
                    position: relative;
                    text-transform: uppercase;
                    span {
                        position: relative;
                        &:before {
                            background-color: @main-color;
                            content: "";
                            height: 2px;
                            position: absolute;
                            right: ~"calc(100% + 10px)";
                            top: 50%;
                            width: 1000px;
                        }
                        &:after {
                            background-color: @main-color;
                            content: "";
                            height: 2px;
                            left: ~"calc(100% + 10px)";
                            position: absolute;
                            top: 50%;
                            width: 1000px;
                        }
                    }
                }
                h4 {
                    font-family: "Poppins", sans-serif;
                    font-size: 40px;
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }
        }
        .main-content {
            padding: 40px 0;
            h3 {
                color: @main-color;
                font-family: Poppins, sans-serif;
                font-size: 20px;
                font-weight: 700;
                margin: 0 0 15px;
            }
            .cat-menu {
                margin-bottom: 0;
                li {
                    list-style: none;
                    margin-bottom: 15px;
                    a {
                        color: #424242;
                        font-size: 14px;
                        &:hover {
                            color: @main-color;
                            margin-left: 5px;
                        }
                    }
                }
            }
            .list-jobs {
                .job-item {
                    border-bottom: 1px solid #ccc;
                    margin-bottom: 30px;
                    padding-bottom: 30px;
                    h4 {
                        font-family: "Poppins", sans-serif;
                        font-size: 15px;
                        font-weight: 700;
                        margin: 0 0 10px;
                        a {
                            color: #424242;
                            &:hover {
                                color: @main-color;
                            }
                        }
                    }
                    h6 {
                        color: #888;
                        font-size: 13px;
                        margin: 0;
                        span {
                            display: inline-block;
                            margin: 0 15px;
                        }
                    }
                    .excerpt {
                        margin: 20px 0 30px;
                        h5 {
                            font-size: 15px;
                            font-weight: 700;
                            margin: 0 0 10px;
                        }
                    }
                    .view-more-link {
                        border: 1px solid @main-color;
                        color: @main-color;
                        display: inline-block;
                        font-family: "Poppins", sans-serif;
                        padding: 8px 20px 7px;
                        text-transform: uppercase;
                        &:hover {
                            background-color: @main-color;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    /* ---------------------------------------
        CASE STUDY PAGE
    ----------------------------------------- */
    .wrap-case-study {
        background-color: #f7f7f7;
        .top-content {
            background-image: url("../images/top-cs-bg.jpg");
            color: #fff;
            padding-bottom: 120px;
            padding-top: 140px;
            position: relative;
            text-align: center;
            z-index: 1;
            &:before {
                background-color: rgba(0, 0, 0, 0.75);
                bottom: 0;
                content: "";
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                z-index: -1;
            }
            .top-content-inner {
                margin: auto;
                overflow: hidden;
                width: 678px;
                &.empty {
                    height: 80px;
                }
                .caption {
                    font-family: "Arvo", sans-serif;
                    font-size: 30px;
                    margin: 0 0 20px;
                    position: relative;
                    text-transform: uppercase;
                    span {
                        position: relative;
                        &:before {
                            background-color: @main-color;
                            content: "";
                            height: 2px;
                            position: absolute;
                            right: ~"calc(100% + 10px)";
                            top: 50%;
                            width: 1000px;
                        }
                        &:after {
                            background-color: @main-color;
                            content: "";
                            height: 2px;
                            left: ~"calc(100% + 10px)";
                            position: absolute;
                            top: 50%;
                            width: 1000px;
                        }
                    }
                }
                h4 {
                    font-family: "Poppins", sans-serif;
                    font-size: 60px;
                    font-weight: 700;
                    margin: 0 0 10px;
                    text-transform: uppercase;
                }
                h6 {
                    font-family: "Arvo", sans-serif;
                    font-size: 14px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    word-spacing: 3px;
                    margin: 0;
                }
            }
        }
        .main-content {
            padding: 40px 0;
            &.details {
                display: table;
                margin-top: -220px;
                overflow: hidden;
                padding: 0 0 70px;
                position: relative;
                z-index: 2;
                &.small {
                    padding-left: 70px;
                    padding-right: 70px;
                    color: #424242;
                    font-size: 13px;
                }
                .details-img {
                    display: table-cell;
                    padding-right: 10px;
                    vertical-align: top;
                    &.big {
                        padding-right: 35px;
                    }
                }
                .details-content {
                    display: table-cell;
                    padding-top: 50px;
                    vertical-align: top;
                    h3 {
                        color: #fff;
                        font-family: "Poppins", sans-serif;
                        font-size: 30px;
                        font-weight: 700;
                        margin: 0 0 15px;
                        text-transform: uppercase;
                    }
                    .sub-desc {
                        color: #fff;
                        font-size: 15px;
                        margin-bottom: 0;
                    }
                    .more-details {
                        margin-top: 90px;
                        .media {
                            margin-top: 30px;
                            .media-left {
                                vertical-align: middle;
                                padding-right: 20px;
                            }
                            .media-body {
                                h4 {
                                    font-family: "Poppins", sans-serif;
                                    font-weight: 700;
                                    margin: 0 0 15px;
                                    text-transform: uppercase;
                                }
                                p {
                                    margin-bottom: 0;
                                }
                            }
                        }
                        .social-store-links {
                            font-size: 0;
                            margin: 30px 0 0 70px;
                            li {
                                display: inline-block;
                                margin-right: 30px;
                            }
                        }
                    }
                }
            }
            .cs-menu {
                margin-bottom: 50px;
                text-align: center;
                li {
                    display: inline-block;
                    margin: 0 20px;
                    &.active, &:hover {
                        a {
                            color: @main-color;
                        }
                        .icon {
                            &.mobile-icon {
                                background: url('../images/services-icon-1.png') no-repeat;
                            }
                            &.graphic-icon {
                                background: url('../images/services-icon-3.png') no-repeat;
                            }
                            &.support-icon {
                                background: url('../images/services-icon-5.png') no-repeat;
                            }
                            &.web-icon {
                                background: url('../images/services-icon-2.png') no-repeat;
                            }
                            &.offshore-icon {
                                background: url('../images/services-icon-4.png') no-repeat;
                            }
                            &.software-icon {
                                background: url('../images/services-icon-6.png') no-repeat;
                            }
                        }
                    }
                    a {
                        color: #aeaeae;
                    }
                    .icon {
                        display: inline-block;
                        width: 50px;
                        height: 58px;
                        &.mobile-icon {
                            background: url('../images/services-icon-1-inactive.png') no-repeat;
                        }
                        &.graphic-icon {
                            background: url('../images/services-icon-3-inactive.png') no-repeat;
                        }
                        &.support-icon {
                            background: url('../images/services-icon-5-inactive.png') no-repeat;
                        }
                        &.web-icon {
                            background: url('../images/services-icon-2-inactive.png') no-repeat;
                        }
                        &.offshore-icon {
                            background: url('../images/services-icon-4-inactive.png') no-repeat;
                        }
                        &.software-icon {
                            background: url('../images/services-icon-6-inactive.png') no-repeat;
                        }
                    }
                    h3 {
                        font-family: "Poppins", sans-serif;
                        font-size: 15px;
                        font-weight: 700;
                        margin: 15px 0 0;
                        text-transform: uppercase;
                        position: relative;
                        &:before {
                            content: "";
                            height: 25px;
                            left: 0;
                            position: absolute;
                            top: -23px;
                            width: 100%;
                        }
                    }
                }
            }
            .cs-item {
                background-color: #fff;
                border-radius: 5px;
                margin-bottom: 20px;
                overflow: hidden;
                padding: 10px;
                transition: all 0.4s ease;
                &:hover {
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
                }
                h4 {
                    font-family: Poppins, sans-serif;
                    font-size: 13px;
                    margin: 15px 0 10px;
                    a {
                        color: @second-color;
                    }
                }
                .cs-img {
                    margin: -10px -10px 0;
                    width: ~"calc(100% + 20px)";
                }
                a {
                    color: @main-color;
                    font-family: "Poppins", sans-serif;
                    img {
                        margin-right: 10px;
                    }
                }
            }
            .view-more-link {
                border: 1px solid @main-color;
                color: @main-color;
                display: inline-block;
                font-family: "Poppins", sans-serif;
                font-weight: 500;
                padding: 16px 20px 15px;
                margin-top: 25px;
                text-transform: uppercase;
                &:hover {
                    background-color: @main-color;
                    color: #fff;
                }
            }
        }
    }
    /* ---------------------------------------
        WHY INAPP PAGE
   ----------------------------------------- */
    .wrap-why-inapp {
        .who-we-are {
            .wwa-text {
                padding-top: 60px;
                padding-bottom: 70px;
                h3 {
                    font-size: 35px;
                }
                p {
                    margin-bottom: 15px;
                }
                ul {
                    li {
                        margin-bottom: 10px;
                        &:before {
                            content: "-";
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
        .our-vision {
            background-image: url("../images/wwa-bg-1.jpg");
            color: #fff;
            font-size: 15px;
            line-height: 1.7;
            padding: 110px 20% 120px;
            text-align: center;
            h3 {
                font-family: "Poppins", sans-serif;
                font-size: 35px;
                font-weight: 700;
                margin: 0 0 15px;
                text-transform: uppercase;
            }
        }
        .our-objectives {
            background-color: #f7f7f7;
            position: relative;
            .oo-text {
                font-size: 15px;
                line-height: 1.7;
                padding: 100px 0 20px 40%;
                h3 {
                    font-family: "Poppins", sans-serif;
                    font-size: 35px;
                    font-weight: 700;
                    margin: 0 0 35px;
                    text-transform: uppercase;
                }
                h4 {
                    font-weight: 700;
                    margin: 0 0 7px;
                }
                .option {
                    margin-bottom: 40px;
                }
            }
            .oo-img {
                background: url('../images/wwa-img-2.jpg') no-repeat center / cover;
                bottom: 0;
                position: absolute;
                left: 0;
                top: 0;
                width: 40%;
            }
        }
        .more-our {
            display: table;
            table-layout: fixed;
            width: 100%;
            .our-technologies {
                background-image: url("../images/wwa-bg-2.jpg");
                color: #fff;
                padding-bottom: 80px;
                padding-top: 110px;
                position: relative;
                z-index: 1;
                font-size: 15px;
                width: 50%;
                display: table-cell;
                &:before {
                    background-color: rgba(0, 0, 0, 0.75);
                    bottom: 0;
                    content: "";
                    left: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                    z-index: -1;
                }
                h3 {
                    font-family: "Poppins", sans-serif;
                    font-size: 35px;
                    font-weight: 700;
                    margin: 0 0 35px;
                    text-transform: uppercase;
                    text-align: center;
                }
                .content {
                    padding: 0 50px;
                    ul {
                        li {
                            list-style: none;
                            margin-bottom: 5px;
                            &:before {
                                content: "-";
                                margin-right: 5px;
                            }
                        }
                    }
                    h4 {
                        color: #fd792e;
                        font-size: 15px;
                        font-weight: 700;
                        margin: 0 0 10px;
                    }
                }
            }
            .our-strength {
                background-image: url("../images/wwa-bg-3.jpg");
                color: #fff;
                padding-bottom: 50px;
                padding-top: 110px;
                position: relative;
                z-index: 1;
                width: 50%;
                display: table-cell;
                &:before {
                    background-color: rgba(0, 0, 0, 0.75);
                    bottom: 0;
                    content: "";
                    left: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                    z-index: -1;
                }
                h3 {
                    font-family: "Poppins", sans-serif;
                    font-size: 35px;
                    font-weight: 700;
                    margin: 0 0 35px;
                    text-transform: uppercase;
                    text-align: center;
                }
                .content {
                    padding: 0 100px;
                    .strength {
                        display: inline-block;
                        height: 30px;
                        margin-bottom: 20px;
                        width: 100%;
                        span {
                            float: left;
                            font-size: 18px;
                            font-weight: 300;
                            line-height: 1;
                            margin: 3px 15px 0 0;
                            text-align: right;
                            width: 90px;
                        }
                        .progress {
                            background-color: #fff;
                            border-radius: 12px;
                            height: 25px;
                            padding: 2px;
                            position: relative;
                            .progress-bar {
                                background-color: @main-color;
                                border-radius: 12px;
                                &[aria-valuenow="100"] {
                                    b {
                                        color: #fff;
                                    }
                                }
                                b {
                                    color: @main-color;
                                    font-size: 18px;
                                    position: absolute;
                                    top: 2px;
                                    right: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* ---------------------------------------
    FOOTER
----------------------------------------- */
footer.footer {
    border-top: 1px solid #eee;
    font-size: 14px;
    padding: 10px 0;
    .copyright {
        float: left;
    }
    .footer-links {
        float: right;
        font-size: 0;
        margin-bottom: 0;
        li {
            display: inline-block;
            margin-left: 25px;
            a {
                color: #424242;
                font-size: 14px;
                &:hover {
                    color: @main-color;
                }
            }
        }
    }
}

/* ---------------------------------------
    IFRAME GOOGLE CODE
----------------------------------------- */
iframe[name='google_conversion_frame'] {
    height: 0 !important;
    width: 0 !important;
    line-height: 0 !important;
    font-size: 0 !important;
    margin-top: -13px;
    float: left;
}