/* ---------------------------------------
    SPINNER
----------------------------------------- */
@import "utilities/spinner.less";

/* ---------------------------------------
    PARALLAX
----------------------------------------- */
.parallax {
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
        background-attachment: scroll;
    }
}

/* ---------------------------------------
    WRAP MEDIA
----------------------------------------- */
.wrap-media {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 0;

    .centerer {
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
    img, .img, object {
        vertical-align: middle;
        display: inline-block;
        max-height: 100%;
        max-width: 100%;
    }
}

/* ---------------------------------------
    HEADER
----------------------------------------- */
header.header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
    .container {
        position: relative;
    }
    .logo {
        float: left;
        margin: 20px 0 0;
        a {
            background: url('../images/logo.png') no-repeat;
            display: inline-block;
            height: 40px;
            text-indent: -9999px;
            width: 148px;
        }
    }
    .main-nav {
        font-family: "Poppins", sans-serif;
        position: absolute;
        right: -7px;
        top: 35px;
        @media (max-width: @screen-sm-max) {
            height: 34px;
            position: relative;
            z-index: 100;
        }
        li {
            display: inline-block;
            margin: 0 15px;
            @media (max-width: @screen-sm-max) {
                display: block;
            }
            &.current {
                a {
                    &:before {
                        bottom: -5px;
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
            a {
                color: #fff;
                font-size: 15px;
                &:before {
                    background-color: @main-color;
                    bottom: 2px;
                    content: "";
                    height: 2px;
                    left: 0;
                    position: absolute;
                    width: 100%;
                    opacity: 0;
                    visibility: hidden;
                    transition: all 0.2s ease;
                }
                &:hover,
                &:focus {
                    &:before {
                        bottom: -5px;
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
}

/* ---------------------------------------
    HERO
----------------------------------------- */
.hero {
    position: relative;
    .wrap-sliders {
        overflow: hidden;
        .ms-slide {
            .ms-caption {
                .slider-text {
                    &.text-1 {
                        margin-top: 300px;
                    }
                    &.text-2 {
                        margin-top: 345px;
                    }
                    &.text-3 {
                        margin-top: 410px;
                    }
                    &.text-4 {
                        margin-top: 460px;
                    }
                }
                h3 {
                    color: #fffefe;
                    font-family: "Poppins",sans-serif;
                    font-size: 57px;
                    font-weight: 700;
                    margin: 0;
                    text-transform: uppercase;
                }
                h4 {
                    color: #fffefe;
                    font-family: "Arvo",sans-serif;
                    font-size: 30px;
                    margin: 0;
                    text-transform: uppercase;
                }
                h5 {
                    color: #fffefe;
                    font-family: "Arvo",sans-serif;
                    font-size: 20px;
                    margin: 0;
                    text-transform: uppercase;
                }
                a {
                    color: #fd792e;
                    font-family: "Poppins",sans-serif;
                    font-weight: 500;
                    text-transform: uppercase;
                    img {
                        margin-right: 10px;
                    }
                }
            }
        }
        .ms-nav-next {
            background: url('../images/next-icon.png') no-repeat;
            width: 19px;
            height: 36px;
            right: -50px;
            &:before {
                content: none;
            }
        }
        .ms-nav-prev {
            background: url('../images/prev-icon.png') no-repeat;
            width: 19px;
            height: 36px;
            left: -50px;
            &:before {
                content: none;
            }
        }
    }
}

/* ---------------------------------------
    WHO WE ARE
----------------------------------------- */
.who-we-are {
    background-color: #f7f7f7;
    .wwa-text {
        float: left;
        font-size: 15px;
        margin-right: 45px;
        padding-top: 120px;
        width: ~"calc(100% - 591px)";
        h3 {
            font-family: "Poppins",sans-serif;
            font-size: 40px;
            font-weight: 700;
            margin: 0 0 20px;
            text-transform: uppercase;
        }
        p {
            margin-bottom: 30px;
        }
        ul {
            margin-bottom: 0;
            li {
                list-style: none;
                margin-bottom: 30px;
                .media {
                    .media-body {
                        padding-top: 11px;
                        h4 {
                            color: @main-color;
                            font-family: "Poppins",sans-serif;
                            font-size: 18px;
                            font-weight: 700;
                            margin: 0;
                            text-transform: uppercase;
                        }
                        p {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
    .wwa-img {
        background: url('../images/wwa-img.jpg') no-repeat;
        float: left;
        height: 748px;
        width: 546px;
    }
}

/* ---------------------------------------
    SERVICES
----------------------------------------- */
.services {
    overflow: hidden;
    padding-top: 100px;
    .container {
        position: relative;
        height: 700px;
    }
    h3 {
        font-family: "Poppins",sans-serif;
        font-size: 40px;
        font-weight: 700;
        margin: 0 0 5px;
        text-align: center;
        text-transform: uppercase;
    }
    h4 {
        font-family: "Poppins",sans-serif;
        font-size: 20px;
        font-weight: 700;
        margin: 20px 0 15px;
        text-transform: uppercase;
    }
    h5 {
        font-size: 16px;
        margin: 0;
        text-align: center;
    }
    .media {
        margin-top: 40px;
        &:first-child {
            margin-top: 0;
        }
        .media-left {
            padding-right: 20px;
        }
        .media-right {
            padding-left: 20px;
        }
    }
    .services-left-text {
        left: 50%;
        position: absolute;
        text-align: right;
        top: 160px;
        transform: translateX(~"calc(-50% - 435px)");
        width: 400px;
    }
    .services-right-text {
        position: absolute;
        right: 50%;
        top: 200px;
        transform: translateX(~"calc(-50% + 825px)");
        width: 400px;
    }
    .services-img {
        background: url('../images/services-img.png') no-repeat;
        bottom: -280px;
        height: 869px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 500px;
    }
}

/* ---------------------------------------
    OUR PROCESS
----------------------------------------- */
.our-process {
    background-image: url("../images/op-bg.jpg");
    color: #fff;
    padding-bottom: 50px;
    padding-top: 110px;
    position: relative;
    text-align: center;
    z-index: 1;
    &:before {
        background-color: rgba(0, 0, 0, 0.75);
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }
    h3 {
        font-family: "Poppins",sans-serif;
        font-size: 40px;
        font-weight: 700;
        margin: 0 0 5px;
    }
    h4 {
        color: #fff;
        font-family: "Poppins",sans-serif;
        font-size: 20px;
        font-weight: 700;
        margin: 0 0 10px;
        text-align: left;
        text-transform: uppercase;
    }
    h5 {
        font-size: 16px;
        margin: 0;
    }
    .list-op {
        font-size: 0;
        margin-top: 60px;
        .op-item {
            display: inline-block;
            margin: 0 70px;
            img {
                margin-bottom: 15px;
            }
            ul {
                font-size: 15px;
                text-align: left;
                li {
                    list-style: none;
                    margin-bottom: 10px;
                    &:before {
                        content: "-";
                    }
                }
            }
        }
    }
}

/* ---------------------------------------
    CASE STUDY
----------------------------------------- */
.case-study {
    background-color: #f7f7f7;
    padding-top: 110px;
    padding-bottom: 50px;
    h3 {
        font-family: "Poppins",sans-serif;
        font-size: 40px;
        font-weight: 700;
        margin: 0 0 5px;
        text-align: center;
        text-transform: uppercase;
    }
    h5 {
        font-size: 16px;
        margin: 0;
        text-align: center;
    }
    .cs-item {
        background-color: #fff;
        border-radius: 5px;
        margin-bottom: 20px;
        overflow: hidden;
        padding: 10px;
        h4 {
            font-family: "Poppins",sans-serif;
            font-size: 13px;
            margin: 0;
        }
    }
}

/* ---------------------------------------
    IFRAME GOOGLE CODE
----------------------------------------- */
iframe[name='google_conversion_frame'] {
    height: 0 !important;
    width: 0 !important;
    line-height: 0 !important;
    font-size: 0 !important;
    margin-top: -13px;
    float: left;
}