/* ---------------------------------------
    SPINNER
----------------------------------------- */
// @import "utilities/spinner.less";
/* ---------------------------------------
    CUSTOM INPUT
----------------------------------------- */
// @import "utilities/inputs.less";
/* ---------------------------------------
    CUSTOM CHECKBOX & RADIO
----------------------------------------- */
// @import "utilities/checkbox-radio.less";

/* ---------------------------------------
    SELECT2
----------------------------------------- */
// @import "utilities/select2.less";
/* ---------------------------------------
    PAGINATION
----------------------------------------- */
// @import "utilities/pagination.less";

/* ---------------------------------------
    BODY
----------------------------------------- */

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: "NotoSans", sans-serif;
  height: 100%;
  text-align: center;
  transition: background-color .5s;

  background-color: #f2f2f2;

  opacity: 0;

  .footer {
    width: 100%;
    height: 60px;
    text-align: center;
    padding: 10px;
    .copyright {
      color: #000000;
      font-size: 15px;
      font-weight: 300;
      line-height: 20px;
    }
  }
}

.top-nav {
  position: fixed;
  top: 0;
  z-index: 900;
  height: 64px;
  background-color: #fff;
  .nav-wrapper {
    position: relative;
    background-color: #FFF;
    .brand-logo {
      color: black;
    }

    .left-content {
      cursor: pointer;
      position: absolute;
      left: 30px;
      height: 100%;
      .menu-icon {
        color: black;
        float: left;
        i {
          font-size: 29px;
        }
      }

      .title {
        display: block;
        float: right;
        color: #1a1a1a;
        padding-left: 30px;
        font-size: 16px;
        font-weight: 400;
      }

      &:hover {
        #nav-icon4:not(.open) span:nth-child(1) {
          top: -10px;
          opacity: 0;
          -webkit-transition-delay: 0ms;
          -moz-transition-delay: 0ms;
          -o-transition-delay: 0ms;
          transition-delay: 0ms;

        }
        #nav-icon4:not(.open) span:nth-child(2) {
          top: 0px;
          -webkit-transition-delay: 40ms;
          -moz-transition-delay: 40ms;
          -o-transition-delay: 40ms;
          transition-delay: 40ms;
        }
        #nav-icon4:not(.open) span:nth-child(3) {
          top: 6px;
          -webkit-transition-delay: 80ms;
          -moz-transition-delay: 80ms;
          -o-transition-delay: 80ms;
          transition-delay: 80ms;
        }
        #nav-icon4:not(.open) span:nth-child(4) {
          top: 12px;
          opacity: 1;
          -webkit-transition-delay: 80ms;
          -moz-transition-delay: 80ms;
          -o-transition-delay: 80ms;
          transition-delay: 80ms;
        }
      }

      //*******************
      #nav-icon4 {
        top: 25px;
        width: 20px;
        height: 18px;
        position: relative;
        display: block;
        float: left;
        //margin: 50px auto;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
      }

      #nav-icon4 span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: #1a1a1a;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
      }

      /* Icon 4 */

      #nav-icon4 {
      }

      #nav-icon4 span:nth-child(1) {
        top: 0px;
        transform-origin: left center;
      }

      #nav-icon4 span:nth-child(2) {
        top: 6px;
        transform-origin: left center;
      }

      #nav-icon4 span:nth-child(3) {
        top: 12px;
        transform-origin: left center;
      }

      #nav-icon4 span:nth-child(4) {
        top: 18px;
        opacity: 0;
        transform-origin: left center;
      }

      #nav-icon4.open span:nth-child(1) {
        transform: rotate(45deg);
        top: -3px;
        width: 25px;
      }

      #nav-icon4.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
      }

      #nav-icon4.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 15px;
        width: 25px;
        //left: 8px;
      }

      #nav-icon4.open span:nth-child(4) {
        width: 0%;
        opacity: 0;
      }

      //*****************

      #closeMenuIcon {
        i {
          line-height: 64px;
          font-size: 30px;
        }

        .title {
          font-size: 16px;
          font-weight: 400;
          color: black;
          position: absolute;
          top: 0;
          left: 55px;
        }
      }

      #openMenuIcon {
        height: 60px;
        width: 100%;
        .title {
          font-size: 16px;
          font-weight: 400;
          color: black;
          position: absolute;
          top: 0;
          left: 55px;
        }
      }

      #menu-toggle {
        position: absolute;
        top: 50%;
        left: 15px;
        font-size: 30px;
        display: block;
        margin-left: -15px;
        width: 25px;
        height: 3px;
        background: #000;
      }

      #menu-toggle:after, #menu-toggle:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background: #000;
        left: 0;
        transform-origin: center center;
      }

      #menu-toggle:before {
        top: -8px;
      }

      #menu-toggle:after {
        bottom: -8px;
      }

      #openMenuIcon.anim-out #menu-toggle {
        background: rgba(220, 151, 31, 0);
      }

      #openMenuIcon.anim-out #menu-toggle:after {
        transform: rotate(-45deg) translate(3px, -8px);
      }

      #openMenuIcon.anim-out #menu-toggle:before {
        transform: rotate(45deg) translate(3px, 8px);

      }

      #menu-toggle,
      #menu-toggle:before,
      #menu-toggle:after {
        transition: all 0.3s cubic-bezier(0.585, -0.600, 0.430, 1.650);
      }

      #openMenuIcon:hover #menu-toggle:before,
      #openMenuIcon:focus #menu-toggle:before {
        top: -6px;
      }

      #openMenuIcon:hover #menu-toggle:after,
      #openMenuIcon:focus #menu-toggle:after {
        bottom: -6px;
      }

      #openMenuIcon.anim-out:hover #menu-toggle:after,
      #openMenuIcon.anim-out:focus #menu-toggle:after {
        bottom: -8px;
      }

      #openMenuIcon.anim-out:hover #menu-toggle:before,
      #openMenuIcon.anim-out:focus #menu-toggle:before {
        top: -8px;
      }
    }

    .right-content {
      position: absolute;
      right: 30px;
      a {
        color: #bbbbbb;
        padding-left: 10px;
        font-weight: 400;
        font-size: 16px;

        &.active {
          color: #000000;
          font-weight: 500;
        }
      }
    }
    @media (max-width: 620px) {
      .left-content {
        left: 10px;
        #openMenuIcon {
          left: 0;
        }
        .title {
          display: none;
        }
      }

      .right-content {
        right: 10px;
      }
    }
  }
}

.main-content {
  padding-top: 64px;
  height: 100%;

  @color_1: #000000;
  @color_2: rgba(51, 51, 51, 0.66);
  @background_color_1: #fff;

  .main-sile-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 500;
    left: 0;
    background-color: @background_color_1;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
    text-align: left;
    a {
      padding: 10px;
      padding-left: 30px;
      text-decoration: none;
      font-size: 14px;
      color: @color_2;
      display: block;
      transition: 0.3s;
      span {
        text-transform: uppercase;
        &:hover, &:focus {
          color: black;
          &:after, &:before {
            background-color: black;
          }
        }
      }

      &.active {
        span {
          color: black;
        }
      }
    }
  }
  .right-content {
    transition: margin-left .5s;
    @media (max-width: 2048px) {
      max-width: 2031px
    }
    @media (max-width: 1920px) {
      max-width: 1903px
    }
  }
}

#homePage {
  .section {
    padding: 0;
    .logo {
      z-index: 999;
      position: absolute;
      width: 100%;
      top: 45%;
    }

    #scroll-info {
      position: absolute;
      left: 50%;
      bottom: 30px;
      margin-left: -50px;
      width: 90px;
      height: 45px;

      z-index: 2;
      overflow: hidden;

      -webkit-transform: translate(0, 80px);
      -moz-transform: translate(0, 80px);
      -ms-transform: translate(0, 80px);
      -o-transform: translate(0, 80px);
      transform: translate(0, 80px);

      -webkit-transition: -webkit-transform 0.6s ease-in-out;
      -moz-transition: -moz-transform 0.6s ease-in-out;
      -o-transition: -o-transform 0.6s ease-in-out;
      transition: transform 0.6s ease-in-out;
    }

    #scroll-info.show {
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      transform: translate(0, 0);
    }

    #scroll-info a {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      padding: 10px;
      color: #ffffff;
      font-size: 14px;
      font-weight: 700;
      line-height: 1;
      text-align: center;
      letter-spacing: 0.2em;

      z-index: 1;
    }
    #scroll-info-line {
      position: absolute;
      left: 10px;
      bottom: 10px;
      width: 70px;
      height: 2px;
      overflow: hidden;
      z-index: 0;
    }
    #scroll-info-line div {
      position: absolute;
      left: 0;
      top: 0;
      width: 70px;
      height: 2px;
      background-color: #ffffff;

      -webkit-animation-duration: 1.5s;
      animation-duration: 1.5s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-name: scroll-info-line;
      animation-name: scroll-info-line;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
    }
    @-webkit-keyframes scroll-info-line {
      from, 5% {
        width: 0px;
      }
      33%, 66% {
        left: 0px;
        width: 80px;
      }
      95%, to {
        left: 80px;
      }
    }

    @keyframes scroll-info-line {
      from, 5% {
        width: 0px;
      }
      33%, 66% {
        left: 0px;
        width: 80px;
      }
      95%, to {
        left: 80px;
      }
    }

    // .scroll-icon {
    //     position: absolute;
    //     bottom: 45px;
    //     width: 100%;
    //     margin: 0 auto;
    //     z-index: 999;
    //
    //     .btn-scroll7 a span {
    //     	position: absolute;
    //     	top: 0;
    //     	left: 50%;
    //     	width: 18px;
    //     	height: 18px;
    //     	margin-left: -8px;
    //     	border-left: 1px solid #fff;
    //     	border-bottom: 1px solid #fff;
    //     	-webkit-transform: rotate(-45deg);
    //     	transform: rotate(-45deg);
    //     	-webkit-animation: sdb07 2s infinite;
    //     	animation: sdb07 2s infinite;
    //     	opacity: 0;
    //     	box-sizing: border-box;
    //     }
    //     .btn-scroll7 a span:nth-of-type(1) {
    //     	-webkit-animation-delay: 0s;
    //     	animation-delay: 0s;
    //     }
    //     .btn-scroll7 a span:nth-of-type(2) {
    //     	top: 16px;
    //     	-webkit-animation-delay: .15s;
    //     	animation-delay: .15s;
    //     }
    //     .btn-scroll7 a span:nth-of-type(3) {
    //     	top: 32px;
    //     	-webkit-animation-delay: .3s;
    //     	animation-delay: .3s;
    //     }
    //
    //     .btn-scroll {
    //         position: relative;
    //     }
    //     a {
    //         font-weight: 500;
    //         letter-spacing: 1px;
    //         display: block;
    //         font-size: 16px;
    //         color: #ffffff;
    //         cursor: pointer;
    //     }
    // }
  }

  .section-1 {
    /*Adding background for the slides
    * --------------------------------------- */
    #slide1 {
      background-image: url("../images/bg1.jpg");
    }
    #slide2 {
      background-image: url("../images/bg2.jpg");
    }
    #slide3 {
      background-image: url("../images/bg3.jpg");
    }
    #slide4 {
      background-image: url("../images/bg3.jpg");
    }
  }

  .section-2 {
    .fp-tableCell {
      vertical-align: top;
    }

  }
}

#projectsPage {
  min-height: 100%;
  margin-bottom: -60px;
  &:after {
    content: "";
    display: block;
    height: 60px;
  }
  #gallery {
    .underline-left {
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
      transition: all 0.3s ease !important;
      &:after {
        right: 8%;
        transition: all 0.3s ease !important;
        background-color: #fff;
      }
    }
    a {
      &:hover {
        img {
          transform: scale(1.1) translateY(20px) !important;
        }
        .ug-textpanel {
          opacity: 1 !important;
          bottom: 0 !important;
          transition: all 0.3s ease !important;
        }
        .underline-left {
          &:after {
            width: 80%;
          }
        }
      }
      img {
        transform: scale(1.1) !important;
        transition: .3s ease-in-out !important;
      }
    }
    .ug-textpanel {
      opacity: 0 !important;
      transition: all 0.3s ease !important;
      bottom: 20px !important;
      @media (max-width: 992px) {
        opacity: 1 !important;
      }
      .ug-textpanel-title {
        .cus-description {
          outline: 0 !important;
          transition: color 0.5s ease !important;
          &:after, &:before {
            outline: 0;
            background-color: #ffffff;
            transition: all 0.5s ease;
            content: "";
            position: absolute;
            width: 100%;
            height: 3px;
            left: 0;
            top: 20px;
          }
        }
      }
    }
  }
}

#projectDetailPage {
  min-height: 100%;
  margin-bottom: -60px;
  &:after {
    content: "";
    display: block;
    height: 60px;
  }
  .row {
    margin: 0;

    @media (min-width: 861px) {
      display: flex;
    }
  }
  .project-img {
    padding: 20px;
    padding-left: 32px;
    padding-bottom: 0;

    @media (min-width: 861px) {
      align-items: stretch;
    }
    img {
      width: 100%;
    }
    @media (max-width: 860px) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .project-detail {
    @media (min-width: 861px) {
      align-items: stretch;
    }
    padding: 0;
    background-color: #ffffff;

    .control-bar {
      /*
      .paginate
      -------------------------------------------------*/
      .paginate {
        width: 100%;
        position: relative;
        padding: 20px 30px;
        margin-bottom: 0;
        height: 80px;
        border-bottom: 1px solid #e5e5e5;
      }

      .paginate .prev,
      .paginate .next,
      .paginate .list {
        position: absolute;
        top: 20px;
      }

      .paginate .prev {
        left: 30px;
      }
      .paginate .list {
        left: 50%;
        margin-left: -20px;
      }
      .paginate .next {
        right: 30px;
      }

      .paginate a,
      .paginate span {
        display: block;
        width: 40px;
        height: 40px;
      }

      .paginate .list a {
        position: relative;
        padding: 10px;
      }
      .paginate .list a span {
        width: 20px;
        height: 20px;
        overflow: hidden;
        position: relative;
      }
      .paginate .list a i {
        display: block;
        position: absolute;
        background-color: #000;
        width: 6px;
        height: 0;
        -webkit-transition-property: height, -webkit-transform;
        -moz-transition-property: height, -moz-transform;
        -o-transition-property: height, -o-transform;
        transition-property: height, transform;
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-timing-function: cubic-bezier(.75, 0, .3, 1);
        -moz-transition-timing-function: cubic-bezier(.75, 0, .3, 1);
        -o-transition-timing-function: cubic-bezier(.75, 0, .3, 1);
        transition-timing-function: cubic-bezier(.75, 0, .3, 1);
      }

      .paginate .list a i.c1 {
        left: 0px;
      }
      .paginate .list a i.c2 {
        left: 7px;
      }
      .paginate .list a i.c3 {
        left: 14px;
      }

      .paginate .list a i.c1.b1 {
        height: 7px;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
      }
      .paginate .list a i.c1.b2 {
        height: 7px;
        -webkit-transform: translate(0, 8px);
        -moz-transform: translate(0, 8px);
        -o-transform: translate(0, 8px);
        transform: translate(0, 8px);
      }
      .paginate .list a i.c1.b3 {
        height: 7px;
        -webkit-transform: translate(0, 40px);
        -moz-transform: translate(0, 40px);
        -o-transform: translate(0, 40px);
        transform: translate(0, 40px);
      }
      .paginate .list a i.c2.b1 {
        height: 10px;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
      }
      .paginate .list a i.c2.b2 {
        height: 7px;
        -webkit-transform: translate(0, 11px);
        -moz-transform: translate(0, 11px);
        -o-transform: translate(0, 11px);
        transform: translate(0, 11px);
      }
      .paginate .list a i.c2.b3 {
        height: 7px;
        -webkit-transform: translate(0, 35px);
        -moz-transform: translate(0, 35px);
        -o-transform: translate(0, 35px);
        transform: translate(0, 35px);
      }
      .paginate .list a i.c3.b1 {
        height: 5px;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
      }
      .paginate .list a i.c3.b2 {
        height: 7px;
        -webkit-transform: translate(0, 6px);
        -moz-transform: translate(0, 6px);
        -o-transform: translate(0, 6px);
        transform: translate(0, 6px);
      }
      .paginate .list a i.c3.b3 {
        height: 7px;
        -webkit-transform: translate(0, 33px);
        -moz-transform: translate(0, 33px);
        -o-transform: translate(0, 33px);
        transform: translate(0, 33px);
      }

      .paginate .list a:hover i.c1.b1 {
        height: 7px;
        -webkit-transform: translate(0, -8px);
        -moz-transform: translate(0, -8px);
        -o-transform: translate(0, -8px);
        transform: translate(0, -8px);
      }
      .paginate .list a:hover i.c1.b2 {
        height: 7px;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
      }
      .paginate .list a:hover i.c1.b3 {
        height: 7px;
        -webkit-transform: translate(0, 8px);
        -moz-transform: translate(0, 8px);
        -o-transform: translate(0, 8px);
        transform: translate(0, 8px);
      }
      .paginate .list a:hover i.c2.b1 {
        height: 10px;
        -webkit-transform: translate(0, -11px);
        -moz-transform: translate(0, -11px);
        -o-transform: translate(0, -11px);
        transform: translate(0, -11px);
      }
      .paginate .list a:hover i.c2.b2 {
        height: 10px;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
      }
      .paginate .list a:hover i.c2.b3 {
        height: 7px;
        -webkit-transform: translate(0, 11px);
        -moz-transform: translate(0, 11px);
        -o-transform: translate(0, 11px);
        transform: translate(0, 11px);
      }
      .paginate .list a:hover i.c3.b1 {
        height: 5px;
        -webkit-transform: translate(0, -6px);
        -moz-transform: translate(0, -6px);
        -o-transform: translate(0, -6px);
        transform: translate(0, -6px);
      }
      .paginate .list a:hover i.c3.b2 {
        height: 5px;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
      }
      .paginate .list a:hover i.c3.b3 {
        height: 7px;
        -webkit-transform: translate(0, 6px);
        -moz-transform: translate(0, 6px);
        -o-transform: translate(0, 6px);
        transform: translate(0, 6px);
      }

      .paginate .prev a:before,
      .paginate .prev a:after,
      .paginate .next a:before,
      .paginate .next a:after,
      .paginate .prev span:before,
      .paginate .prev span:after,
      .paginate .next span:before,
      .paginate .next span:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 10px;
        height: 2px;
        background-color: #171717;
        border-radius: 1px;
        margin-left: -4px;
        transform-origin: 50% 50%;
        transition: margin-left 0.5s ease-out, transform 0.5s ease-out;
      }
      .paginate .prev span:before,
      .paginate .prev span:after,
      .paginate .next span:before,
      .paginate .next span:after {
        background-color: #d1d1d1;
      }

      .paginate .prev a:before,
      .paginate .prev span:before {
        margin-top: -4px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }

      .paginate .prev a:after,
      .paginate .prev span:after {
        margin-top: 2px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      .paginate .prev a:hover:before {
        margin-left: -8px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
      }

      .paginate .prev a:hover:after {
        margin-left: -8px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
      }

      .paginate .next a:before,
      .paginate .next span:before {
        margin-top: -4px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      .paginate .next a:after,
      .paginate .next span:after {
        margin-top: 2px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }

      .paginate .next a:hover:before {
        margin-left: 0px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
      }

      .paginate .next a:hover:after {
        margin-left: 0px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
      }

      .action-btn {
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        i {
          font-size: 36px;
          color: #555555;
        }
        .menu-icon {
          position: absolute;
          top: 8px;
          background: url('../images/menu-icon.png') no-repeat;
          height: 20px;
          width: 20px;
        }
        .text-left {
          text-align: left;
        }
        .text-right {
          text-align: right;
        }
      }
    }
    .content {
      padding: 20px;
      padding-left: 40px;
      padding-right: 40px;
      .detail-title {
        font-size: 16px;
        font-weight: 700;
        line-height: 30px;
        text-align: left;
      }
      p {
        font-size: 14px;
        font-weight: 300;
        line-height: 25px;
        text-align: justify;
      }
    }
  }
}

#productsPage {
  min-height: 100%;
  margin-bottom: -60px;
  &:after {
    content: "";
    display: block;
    height: 60px;
  }
  .row {
    margin: 0;
  }
  .wrapper {
    // display: flex;
  }
  .products-menu {
    @color_1: #000000;
    @color_2: rgba(51, 51, 51, 0.66);
    @background_color_1: #f2f2f2;

    // align-items: stretch;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
    left: 0;
    background-color: @background_color_1;
    // overflow-x: hidden;
    // transition: 0.5s;
    padding-top: 20px;
    text-align: left;
    a {
      padding: 10px;
      padding-left: 30px;
      text-decoration: none;
      font-size: 14px;
      color: @color_2;
      display: block;
      // transition: 0.3s;
      span {
        padding-left: 0;
        text-transform: uppercase;
        &:hover, &:focus {
          color: black;
          &:after, &:before {
            background-color: black;
          }
        }
      }

      &.active {
        span {
          color: black;
          // outline: 0;
          // transition: color 1s ease;
          // &:after, &:before {
          //     outline: 0;
          //     background-color:black;
          //     transition: all 1s ease;
          //     content: "";
          //     position: absolute;
          //     z-index: -1;
          //     width: 100%;
          //     height: 3px;
          // }
        }
      }
    }
  }

  .products-img {
    padding-top: 20px;
    padding-right: 30px;
    position: relative;
    @media (max-width: 1000px) {
      //padding: 0;
      padding-top: 20px;
      padding-left: 30px;
    }

    .products-img-wrapper {
      position: relative;
      min-height: 400px;
      @media (min-width: 1500px) {
        height: 560px;
      }
      .img-wrapper {
        @media (min-width: 1500px) {
          height: 280px;
        }
        height: 200px;
        cursor: pointer;
        padding: 1px;
        transition: all 0.3s ease;
        z-index: 200;
        &:hover {
          opacity: 0.8;
          .title {
            opacity: 1;
          }
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          // min-height: 200px;
        }
        .title {
          position: absolute;
          bottom: 30px;
          width: 100%;
          text-align: center;
          color: #ffffff;
          opacity: 0;
          @media (max-width: 857px) {
            opacity: 0 !important;
          }
          i {
            font-size: 36px;
          }
        }
      }
      .preview {
        position: absolute;
        padding: 1px;
        transition: all 0.3s ease;
        opacity: 0;
        visibility: hidden;
        transform: scale(0.1);
        width: 50%;
        height: 100%;
        z-index: 999;
        &.open {
          opacity: 1;
          transform: scale(1);
          visibility: visible;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .btn-close {
          position: absolute;
          top: 0;
          right: 0;
          cursor: pointer;
          z-index: 600;
        }
      }
    }
  }
}

#aboutusPage {
  min-height: 100%;
  margin-bottom: -60px;
  &:after {
    content: "";
    display: block;
    height: 60px;
  }
  .main-content {
    .right-content {
      @media (max-width: 860px) {
        width: 100%;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
      }
      padding-top: 20px;
      .wrapper {
        background-color: #FFF;
        .img-content {
          margin: 0;
          .left {
            padding: 0;
            padding-right: 1px;
            img {
              padding-top: 0;
              padding-left: 0;
            }
            .img1 {
              height: 481px;
            }
          }
          .right {
            padding: 0;
            .img-wrapper3 {
              padding-top: 1px;
            }
            .img2 {
              height: 240px;
            }
            .img3 {
              height: 240px;
            }
            img {
              padding-right: 0;
            }
          }
          img {
            width: 100%;
            // padding: 1px;
            @media (max-width: 860px) {
              padding: 0;
              padding-bottom: 1px;
            }
          }
        }
        .text-content {
          margin: 0;
          text-align: left;
          padding: 20px;
          p {
            font-size: 14px;
            font-weight: 300;
            line-height: 25px;
            text-align: justify;
          }
        }
        .social-network {
          margin: 0;
          margin-left: 20px;
          margin-right: 20px;
          border-top: 1px solid #f2f2f2;
          text-align: left;
          .follow-us {
            padding: 10px;
            text-transform: uppercase;
            cursor: pointer;
            height: 45px;
            float: left;
          }
          .network {
            padding: 10px;
            height: 45px;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s, opacity 0.5s linear;
            .fb {
              background: url('../images/facebook.png') no-repeat;
              display: inline-block;
              height: 21px;
              width: 11px;
              margin-right: 10px;
              cursor: pointer;
            }
            .in {
              background: url('../images/instagram.png') no-repeat;
              display: inline-block;
              height: 21px;
              width: 21px;
              margin-right: 10px;
              cursor: pointer;
            }
            .tw {
              background: url('../images/twitter.png') no-repeat;
              display: inline-block;
              height: 18px;
              width: 22px;
              padding-left: 25px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

#contactPage {
  min-height: 100%;
  margin-bottom: -60px;
  &:after {
    content: "";
    display: block;
    height: 60px;
  }
  .main-content {
    .right-content {
      @media (max-width: 860px) {
        width: 100%;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
      }

      .wrapper {
        padding-top: 50px;
        font-size: 14px;
        @media (max-width: 860px) {
          padding: 10px;
        }
        #map {
          // width: 400px;
          height: 250px;
        }
        .left {
          text-align: right;
          padding-top: 25px;
          @media (min-width: 860px) {
            padding-right: 20px;
          }
          img {
            width: 100%;
          }

          @media (max-width: 860px) {
            text-align: left;
            padding-top: 10px;
          }
          .mrg-b-5 {
            margin-bottom: 5px;
          }
          .mrg-b-15 {
            margin-bottom: 15px;
          }
          p {
            color: #1f1f1f;
          }
        }
        .right {
          text-align: left;
          @media (min-width: 860px) {
            padding-left: 20px;
          }
          @media (max-width: 860px) {
            padding-top: 20px;
          }
          input, textarea, label {
            font-size: 14px;
            color: #1f1f1f;
          }
          label {
            font-weight: 500;
            &.active {
              color: #000;
            }
          }
          .input-field {
            padding-bottom: 5px;
          }
          .mgs {
            textarea {
              min-height: 48px !important;
            }
          }
          .btn-send {
            background-color: #000;
            border-radius: 0;
            margin-left: 7px;
            &:hover {
              color: #fff
            }
          }
        }
      }
    }
  }
}

.vegas-transition-kha {
  opacity: 0;
  //transform: scale(1.2);
}

.vegas-transition-kha-in {
  opacity: 1;
  //transform: scale(1);
  transition: opacity 1500ms linear !important;
}

.vegas-transition-kha-out {
  opacity: 0;
  //transform: scale(1);
  transition: opacity 1500ms linear !important;
}

.vegas-animation-kha-ani {
  -webkit-animation: kenburns ease-out;
  animation: kenburns ease-out;
}

@-webkit-keyframes kenburns {
  0% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes kenburns {
  0% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
