@import "mystyles";

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: $main-font;
}

a {
    transition: all 0.3s ease;
    cursor: pointer;
}

div, li, a, input, textarea, button {
    outline: none;
}

.wrap-floater {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    font-size: 1em;
    display: flex;
    transition: all 0.3s ease;
    &.hidden {
        opacity: 0;
        visibility: hidden;
        height: 0;
        overflow: hidden;
    }
    .content {
        margin: 0 0 0 10px;
        padding: 0;
        position: relative;
        flex: 1;
        overflow: hidden;
        li {
            list-style: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            transform: translateY(100%);
            transition: all 0.5s ease;
            opacity: 0;
            &.active {
                transform: translateY(0);
                opacity: 1;
                &.close {
                    transform: translateY(-100%);
                    opacity: 0;
                }
            }
            a {
                color: #000;
                text-decoration: none;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: block;
            }
        }
    }
}