.pagination {
    border-radius: 0;
    font-family: "Poppins",sans-serif;
    margin: 0;
    ul {
        font-size: 0;
        margin-bottom: 0;
        li {
            display: inline-block;
            margin-right: 8px;
            &.active {
                span {
                    border: 1px solid #fd792e;
                    color: #fd792e;
                }
            }
            span, a {
                display: inline-block;
                font-size: 16px;
                height: 40px;
                letter-spacing: 1px;
                padding-top: 9px;
                text-align: center;
                width: 40px;
            }
            a {
                border: 1px solid #999;
                color: #999;
                &:hover {
                    border: 1px solid #fd792e;
                    color: #fd792e;
                }
            }
        }
    }
}