@import "mystyles";

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: $main-font;
    //font-family: inherit;
}

a {
    transition: all 0.3s ease;
    cursor: pointer;
}

a, input, textarea, button {
    outline: none;
}

.wrap-countdown {
    font-size: 24px;
    text-align: center;
    font-weight: 300;
    padding: 12px 16px;
    @media (max-width: 768px) {
        font-size: 19px;
    }
    br {
        @media (min-width: 769px) {
            display: none;
        }
    }
    .title {
        @media (max-width: 768px) {
            margin-bottom: 3px;
            display: inline-block;
        }
    }
    .time {
        font-weight: 700;
        letter-spacing: 4px;
        font-size: 28px;
        @media (max-width: 768px) {
            letter-spacing: 2px;
            font-size: 21px;
        }
        &.days {
            margin-left: 10px;
        }
    }
    .time_text {
        font-size: 27px;
        margin-right: 8px;
        @media (max-width: 768px) {
            font-size: 19px;
        }
        &.seconds_text {
            margin-right: 0;
        }
    }
    &.style-2 {
        figure, figcaption {
            display: block;
        }
        figure {
            display: inline-block;
            margin: 0;
            padding: 0;
        }
        figcaption {
            text-align: center;
            line-height: 80%;
            font-weight: normal;
            color: #888;
        }
        .transition {
            transition: top 400ms linear;
        }
        .timeTo {
            line-height: 108%;
            font-weight: bold;
            height: 32px;
            transform: translateY(15%);
            @media (min-width: 769px) {
                display: inline-block;
            }
            span {
                vertical-align: top;
            }
            div {
                position: relative;
                display: inline-block;
                width: 25px;
                height: 30px;
                overflow: hidden;
                margin-right: 10px;
                border-radius: 0 5px 5px 0;
                &.first {
                    border-right: none;
                    margin-right: 0;
                    border-radius: 5px 0 0 5px;
                    ul {
                        margin-left: 3px;
                    }
                }
            }
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                position: absolute;
                left: 3px;
                li {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                }
            }
        }
    }
}