@import "mystyles";

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: $main-font;
    background-color: silver;
}

a {
    transition: all 0.3s ease;
    cursor: pointer;
}

a, input, textarea, button {
    outline: none;
}

.wrap-slider {
    margin: 30px auto;
    .slick-center {
        .slide-item {
            transform: scale(1);
        }
    }
    .slide-item {
        transition: transform 0.3s ease;
        transform: scale(0.8);
        img {
            max-width: 300px;
            border-radius: 5px;
            @media (max-width: 768px) {
                max-width: 200px;
            }
            @media (max-width: 480px) {
                max-width: 100px;
            }
            @media (max-width: 380px) {
                max-width: 80px;
            }
            @media (max-width: 320px) {
                max-width: 60px;
            }
        }
    }
    .slick-dots {
        text-align: center;
        margin: 5px 0 0;
        padding: 0;
        li {
            display: inline-block;
            margin: 0 5px;
            &.slick-active {
                button {
                    background-color: #fff;
                    transform: scale(1.2);
                    box-shadow: 0 0 5px 1px rgb(255, 255, 255);
                }
            }
            button {
                background-color: rgba(0, 0, 0, 0.4);
                border: none;
                text-indent: -9999px;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                padding: 0;
                transition: all 0.3s ease;
            }
        }
    }
}