@import "general.less";
@import "padding_margin.less";

/* ---------------------------------------
PARALLAX
----------------------------------------- */
.parallax {
    position: relative;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
    }
}
.parallax, .parallax:before {
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

/* ---------------------------------------
HEADER
----------------------------------------- */
.header {
    height: 68px;
    background: url("../images/menu-bg.png") no-repeat;
    position: absolute;
    width: 100%;
    z-index: 999;
    transition: all 0.3s ease;

    &.fixed {
        position: fixed;
    }
    &.sticky {
        background: url("../images/menu-bg.png") no-repeat;
        transition: all 0.3s ease;

        @media (max-width:@screen-xs-max) {
            position: fixed;
        }
        .logo {
            top: 10px;

            img {
                height: 60px;
            }
        }
        .main-nav {
            top: 28px;
        }
    }
    .container-fluid {
        position: relative;
    }

    /* ---------------------------------------
    LOGO
    ----------------------------------------- */
    .logo {
        left: 15px;
        margin: 0;
        position: absolute;
        top: 10px;

        @media (min-width:@screen-sm-min) {
            left: 50px;
            top: 25px;
        }
    }

    /* ---------------------------------------
    MAIN NAVIGAION
    ----------------------------------------- */
    .main-nav {
        position: absolute;
        left: 0;
        top: 0;

        @media (max-width:@screen-xs-max) {
            position: relative;
            top: auto;
            left: auto;
        }
        .minimal-menu {
            ul.sub-menu {
                li {
                    a {
                        @media (min-width:@screen-sm-min) {
                            border-bottom: 1px solid transparent;
                        }
                        &:hover {
                            background-color: rgba(255, 255, 255, 0.15);

                            @media (min-width:@screen-sm-min) {
                                border-bottom: 1px solid #fff;
                                background-color: transparent;
                            }
                        }
                    }
                }
            }
        }
        a {
            color: #fff;
            font-size: 16px;
            text-transform: uppercase;
            border-bottom: 1px solid transparent;
            padding: 12px 12px 10px;

            @media (min-width:@screen-sm-min) {
                padding: 0;
            }
            &:hover {
                background-color: rgba(255, 255, 255, 0.2);

                @media (min-width:@screen-sm-min) {
                    border-bottom: 1px solid #fff;
                    background-color: transparent;
                }
            }
        }
        .active {
            > a {
                background-color: rgba(255, 255, 255, 0.2);

                @media (min-width:@screen-sm-min) {
                    border-bottom: 1px solid #fff;
                    background-color: transparent;
                }
            }
        }
    }
}

/* ---------------------------------------
FULLPAGE JS
----------------------------------------- */
#fullpage {
    @media (max-width:@screen-xs-max) {
        overflow: hidden;
    }
}

/* ---------------------------------------
WRAP MEDIA
----------------------------------------- */
.wrap-media {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 0;

    .centerer {
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
    img, .img, object {
        vertical-align: middle;
        display: inline-block;
        max-height: 100%;
        max-width: 100%;
    }
}

/* ---------------------------------------
MAGIC PEN
----------------------------------------- */
.magic-pen-section {
    background: rgba(0, 0, 0, 0) linear-gradient(#f7ede9, #faddd6) repeat scroll 0 0;
}

/* ---------------------------------------
CREATION
----------------------------------------- */
.creation-section {
    background: rgba(0, 0, 0, 0) linear-gradient(#edf4f7, #daf0f8) repeat scroll 0 0;
}

/* ---------------------------------------
CREATE MAGIC
----------------------------------------- */
.create-magic-section {
    background: rgba(0, 0, 0, 0) linear-gradient(#f7f0f9, #fff6fe) repeat scroll 0 0;
}

/* ---------------------------------------
COLLECTION
----------------------------------------- */
.collection-section {
}

/* ---------------------------------------
PRODUCT
----------------------------------------- */
.product-section {
}

/* ---------------------------------------
FOOTER
----------------------------------------- */
.footer {
    background-color: #000;
    bottom: 0;
    color: #fff;
    font-size: 12px;
    padding: 17px 0 13px;
    position: absolute;
    width: 100%;
}

/* ---------------------------------------
SPINNER
----------------------------------------- */
.spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
}
.spinner > div {
    margin: 0 1px;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}
@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}