@import "mystyles";

body {
    opacity: 0;
    transition: opacity 0.3s ease;
    font-family: $family-primary;
}

a {
    transition: all 0.3s ease;
    cursor: pointer;
}

input, button, .slick-slide, a {
    outline: none;
}

.is-transparent {
    background-color: transparent !important;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    box-shadow: 0 5px 10px 0 rgba(44, 57, 66, 0.3);
    iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
}

.jarallax {
    position: relative;
    z-index: 0;
    > .jarallax-img {
        position: absolute;
        object-fit: cover;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}

.custom-button {
    display: inline-block;
    font-family: "Gotham", sans-serif;
    font-weight: 500;
    border-radius: 24px;
    background-color: #488CF1;
    color: #fff;
    padding: 12px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
    min-width: 187px;
    @media (max-width: $desktop) {
        font-size: 14px;
    }
    &:hover {
        color: #fff;
    }
}

// *** Top Nav ***
.top-nav {
    padding: 15px 0;
    @media (max-width: $desktop) {
        padding: 10px 0;
    }
    &.is-open {
        transform: translateY(-100%) !important;
    }
    &.is-fixed-top {
        transition: all 0.4s ease;
        &.headroom {
            //&--pinned {
            //    transform: translateY(0);
            //}
            //&--unpinned {
            //    transform: translateY(-100%);
            //}
            &.change-style {
                background-color: #fff !important;
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
                .navbar-brand {
                    .navbar-item {
                        .logo {
                            background-image: url('../images/logo.png');
                            @media (max-width: $desktop) {
                                background-image: url('../images/logo-mobile.png');
                            }
                        }
                    }
                }
                .navbar-burger {
                    span {
                        background-color: #333;
                    }
                }
                .navbar-menu {
                    .navbar-start {
                        .navbar-item {
                            color: rgba(44, 57, 66, 0.40);
                            &:before {
                                background-color: #229CFF;
                            }
                            &:hover, &:focus, &.active {
                                color: rgba(44, 57, 66, 0.80);
                            }
                        }
                    }
                    .navbar-end {
                        .lang-switch-wrapper {
                            .current-lang {
                                color: rgba(44, 57, 66, 0.80);
                                &:after {
                                    background-image: url('../images/top-nav-arrow.png');
                                }
                            }
                        }
                        .top-search {
                            input[type="text"] {
                                border: 1px solid rgba(44, 57, 66, 0.40);
                            }
                        }
                    }
                }
            }
        }
    }
    .navbar-brand {
        .navbar-item {
            .logo {
                background: url('../images/white-logo.png') no-repeat;
                width: 186px;
                height: 64px;
                text-indent: -9999px;
                @media (max-width: $desktop) {
                    background-image: url('../images/white-logo-mobile.png');
                    width: 101px;
                    height: 35px;
                }
            }
        }
    }
    .navbar-burger {
        background-color: transparent;
        outline: none;
        span {
            background-color: #fff;
        }
    }
    .navbar-menu {
        padding-left: 100px;
        @media (max-width: $widescreen) {
            padding-left: 0;
        }
        @media (max-width: $desktop) {
            position: fixed;
            background-color: rgba(72, 140, 241, 0.8);
            width: 100vw;
            height: 100vh;
            transition: all 0.5s ease;
            visibility: hidden;
            opacity: 0;
            max-height: initial !important;
            transform: translateY(-100%);
        }
        &.is-active {
            @media (max-width: $desktop) {
                visibility: visible;
                opacity: 1;
            }
            a.navbar-item {
                @media (max-width: $desktop) {
                    color: rgba(255, 255, 255, 0.7) !important;
                }
                &:before {
                    @media (max-width: $desktop) {
                        background-color: #fff !important;
                    }
                }
            }
        }
        .navbar-item {
            @media (max-width: $desktop) {
                padding-left: 25px;
                padding-right: 25px;
            }
        }
        .navbar-start {
            @media (max-width: $desktop) {
                display: flex;
                flex-flow: column;
            }
        }
        a.navbar-item {
            color: rgba(255, 255, 255, 0.7);
            position: relative;
            line-height: 1;
            margin-right: 10px;
            align-self: center;
            padding: 1rem;
            @media (max-width: $widescreen) {
                padding-left: 10px;
                padding-right: 10px;
            }
            @media (max-width: $desktop) {
                font-size: 20px;
                text-align: center;
                background-color: transparent;
                margin: 12px 0;
                padding: 10px;
            }
            &:before {
                content: "";
                position: absolute;
                background-color: #fff;
                height: 2px;
                bottom: 0;
                left: 50%;
                right: 50%;
                transition: all 0.3s ease;
                opacity: 0;
            }
            &:hover, &:focus, &.active {
                color: #fff;
                font-family: "Gotham", sans-serif;
                font-weight: 500;
                &:before {
                    left: 0;
                    right: 0;
                    opacity: 1;
                    @media (max-width: $desktop) {
                        height: 1px;
                    }
                }
            }
        }
        .close-icon {
            background: url('../images/close-icon.svg') no-repeat;
            width: 22px;
            height: 22px;
            float: right;
            margin-bottom: 20px;
            cursor: pointer;
        }
        .lang-switch-wrapper {
            .current-lang {
                color: #fff;
                cursor: pointer;
                &:after {
                    content: "";
                    background: url('../images/top-nav-white-arrow.png') no-repeat;
                    width: 16px;
                    height: 13px;
                    display: inline-block;
                    margin-left: 10px;
                }
            }
            .lang-switch {
                position: absolute;
                transition: all 0.2s ease;
                transform: scale(0);
                opacity: 0;
                visibility: hidden;
                background-color: #fff;
                left: 10px;
                top: 50px;
                text-align: center;
                &.open {
                    opacity: 1;
                    visibility: visible;
                    transform: scale(1);
                }
                li {
                    &.active {
                        a {
                            color: #fff;
                            background-color: #488CF1;
                        }
                    }
                    a {
                        color: #888;
                        padding: 7px 15px;
                        display: inline-block;
                        width: 100%;
                        &:hover, &:focus {
                            color: #fff;
                            background-color: #488CF1;
                        }
                    }
                }
            }
        }
        .top-search {
            position: relative;
            clear: both;
            input[type="text"] {
                width: 186px;
                height: 40px;
                border: none;
                border-radius: 20px;
                color: #888;
                font-size: 1rem;
                padding: 0 10px 0 36px;
                box-shadow: none;
                background: #fff;
                @media (max-width: $desktop) {
                    width: 100%;
                }
            }
            button[type="submit"] {
                position: absolute;
                top: 12px;
                left: 8px;
                border: none;
                background-color: transparent;
                cursor: pointer;
            }
        }
        .bottom-menu-mobile {
            position: absolute;
            bottom: 50px;
            left: 25px;
            right: 25px;
            font-size: 14px;
            color: #fff;
            text-align: center;
            a {
                color: #fff;
            }
            .privacy {
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                margin-bottom: 20px;
                padding-bottom: 20px;
                display: flex;
                justify-content: space-around;
            }
        }
    }
}

.wrapper {
    transition: all 0.3s ease;
    &.is-blur {
        filter: blur(10px);
    }
}

.landing-slider-wrapper {
    overflow: hidden;
    .ms-layer {
        width: 100%;
    }
    .ms-slide {
        font-size: 0;
        .ms-slide-bgcont {
            line-height: 1;
            &:before {
                background: url('../images/dark-layer.png') no-repeat left top / cover;
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                @media (max-width: $desktop) {
                    background-image: url('../images/dark-layer-mobile.png');
                }
            }
        }
    }
    .ms-bullets {
        right: -12px;
        bottom: 40px;
        @media (max-width: $desktop) {
            right: 50%;
            bottom: 20px;
            transform: translateX(50%);
        }
        .ms-bullets-count {
            right: 0;
        }
        .ms-bullet {
            width: 10px;
            height: 10px;
            margin: 0 12px !important;
            position: relative;
            @media (max-width: $desktop) {
                margin: 0 7px !important;
            }
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 9px;
                height: 9px;
                border: 1px solid #fff;
                background-color: #fff;
                border-radius: 50%;
                transition: all 0.3s ease;
                @media (max-width: $desktop) {
                    width: 5px;
                    height: 5px;
                }
            }
            &.ms-bullet-selected {
                &:before {
                    width: 13px;
                    height: 13px;
                    background-color: transparent;
                    transform: translate(-2px, -2px);
                    @media (max-width: $desktop) {
                        width: 7px;
                        height: 7px;
                        transform: translate(-1px, -1px);
                    }
                }
            }
        }
    }
    .text-1 {
        color: #fff;
        font-family: "Gotham", sans-serif;
        font-weight: 700;
        font-size: 55px;
        line-height: 72px;
        top: 230px;
        @media (max-width: $widescreen) {
            font-size: 48px;
            line-height: 60px;
        }
        @media (max-width: $desktop) {
            font-size: 30px;
            line-height: 40px;
            top: 120px;
        }
        br {
            @media (max-width: $tablet) {
                display: none;
            }
        }
    }
    .text-2 {
        color: #fff;
        font-size: 18px;
        line-height: 30px;
        top: 405px;
        @media (max-width: $desktop) {
            font-size: 14px;
            line-height: 22px;
            top: 210px;
        }
    }
    .text-22 {
        color: #fff;
        font-size: 18px;
        line-height: 30px;
        top: 405px;
        @media (max-width: $desktop) {
            font-size: 14px;
            line-height: 22px;
            top: 250px;
        }
    }
    .download-content {
        position: absolute;
        bottom: 130px;
        left: 0;
        right: 0;
        @media (max-width: $widescreen) {
            bottom: 70px;
        }
        @media (max-width: $desktop) {
            left: 25px;
            right: 25px;
            bottom: 50px;
        }
        .title {
            color: #fff;
            font-family: "Gotham", sans-serif;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            @media (max-width: $desktop) {
                font-size: 14px;
                margin-bottom: 15px;
            }
        }
        .store-buttons {
            margin-bottom: 40px;
            @media (max-width: $desktop) {
                display: flex;
                margin-bottom: 0;
            }
            a {
                display: inline-block;
                margin-right: 15px;
                background-color: #fff;
                box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.10);
                border-radius: 24px;
                padding: 12px 28px;
                min-width: 187px;
                font-family: "Gotham", sans-serif;
                font-weight: 500;
                color: #229CFF;
                box-sizing: border-box;
                transition: all 0.3s ease;
                @media (max-width: $desktop) {
                    font-size: 14px;
                    min-width: initial;
                    padding: 7px 0 7px 20px;
                    margin-right: 10px;
                    width: 157px;
                }
                &.blue-button {
                    color: #fff;
                    background-color: #229CFF;
                }
                span {
                    width: 19px;
                    float: left;
                    margin: 2px 12px 0 0;
                }
            }
        }
        .download-link {
            color: #fff;
            font-size: 18px;
            font-family: "Gotham", sans-serif;
            font-weight: 500;
            display: inline-block;
            padding-bottom: 2px;
            border-bottom: 1px solid #fff;
            @media (max-width: $desktop) {
                display: none;
            }
            &:hover {
                color: #fff;
            }
        }
        .app-store-icon {
            background: url('../images/appstore-icon.svg') no-repeat;
            height: 24px;
            @media (max-width: $desktop) {
                margin: -2px 10px 0 0;
            }
        }
        .google-play-icon {
            background: url('../images/googleplay-icon.svg') no-repeat;
            height: 21px;
            @media (max-width: $desktop) {
                margin: 1px 10px 0 0;
            }
        }
    }
    .scroll-icon {
        background: url('../images/landing-scroll-icon.png') no-repeat;
        width: 130px;
        height: 40px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        @media (max-width: $desktop) {
            display: none;
        }
    }
}

// *** Home Features ***
.home-features {
    padding-top: 120px;
    padding-bottom: 80px;
    text-align: center;
    color: rgba(44, 57, 66, 0.8);
    @media (max-width: $desktop) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    &--bottom {
        margin-top: 70px;
        @media (max-width: $desktop) {
            margin-top: 15px;
        }
    }
    &__title {
        font-size: 30px;
        font-family: "Gotham", sans-serif;
        margin: 20px 0 10px;
        @media (max-width: $desktop) {
            font-size: 20px;
        }
    }
    &__image {
        width: 327px;
        height: 200px;
        display: inline-block;
        background-repeat: no-repeat;
        @media (max-width: $desktop) {
            width: 214px;
            height: 131px;
        }
        &.bill-payment-img {
            background-image: url('../images/landing-bill-payment.png');
            @media (max-width: $desktop) {
                background-image: url('../images/landing-bill-payment-mobile.png');
            }
        }
        &.phone-top-up-img {
            background-image: url('../images/landing-phone-topup.png');
            @media (max-width: $desktop) {
                background-image: url('../images/landing-bill-payment-mobile.png');
            }
        }
        &.game-top-up-img {
            background-image: url('../images/landing-game-topup.png');
            @media (max-width: $desktop) {
                background-image: url('../images/landing-bill-payment-mobile.png');
            }
        }
    }
    &__excerpt {
        line-height: 1.7rem;
        @media (max-width: $desktop) {
            font-size: 14px;
            line-height: 1.5rem;
            margin-bottom: 20px;
        }
    }
}

// *** Home Video ***
.home-video {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 100px;
    color: #fff;
    position: relative;
    z-index: 10;
    @media (max-width: $desktop) {
        padding-top: 50px;
        padding-bottom: 0;
    }
    &__title {
        font-size: 40px;
        font-family: "Gotham", sans-serif;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 2px;
        @media (max-width: $desktop) {
            font-size: 20px;
        }
    }
    &__excerpt {
        width: 600px;
        margin: 15px auto 65px;
        line-height: 30px;
        font-size: 18px;
        @media (max-width: $desktop) {
            width: initial;
            margin-bottom: 30px;
            line-height: 28px;
            font-size: 14px;
        }
    }
}

.home-video-wrapper {
    position: relative;
    @media (max-width: $desktop) {
        padding-bottom: 50px;
    }
    .home-video-bg-1 {
        height: 65%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;
        &:before {
            content: "";
            background: url('../images/landing-video-bg-1.jpg') no-repeat left top / cover;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            @media (max-width: $desktop) {
                background-image: url('../images/landing-video-bg-1-mobile.jpg');
            }
        }
    }
    .home-video-bg-2 {
        height: 35%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        background-image: url('../images/landing-video-bg-2.jpg');
        @media (max-width: $desktop) {
            background-image: url('../images/landing-video-bg-2-mobile.jpg');
        }
    }
}

// *** Home Promotions ***
.home-promotions {
    background-color: #F4FBFF;
    padding-top: 100px;
    padding-bottom: 100px;
    @media (max-width: $desktop) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    &__caption {
        color: rgba(44, 57, 66, 0.8);
        font-size: 30px;
        font-family: "Gotham", sans-serif;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 50px;
        @media (max-width: $desktop) {
            font-size: 20px;
            margin-bottom: 20px;
        }
        small {
            font-size: 18px;
            font-family: "Gotham Book", sans-serif;
            @media (max-width: $desktop) {
                font-size: 14px;
            }
        }
    }
}

.list-promotions {
    padding-bottom: 75px;
    @media (max-width: $desktop) {
        padding-bottom: 40px;
    }
    .slick-arrow {
        position: absolute;
        width: 24px;
        height: 24px;
        border: none;
        text-indent: -9999px;
        cursor: pointer;
        bottom: 0;
        z-index: 20;
        &.slick-prev {
            background: url('../images/left-arrow-icon.svg') no-repeat;
            left: 50%;
            transform: translateX(-180px);
            @media (max-width: $desktop) {
                left: 5px;
                transform: none;
            }
        }
        &.slick-next {
            background: url('../images/right-arrow-icon.svg') no-repeat;
            right: 50%;
            transform: translateX(180px);
            @media (max-width: $desktop) {
                right: 5px;
                transform: none;
            }
        }
    }
    .slick-dots {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -5px;
        @media (max-width: $desktop) {
            bottom: -10px;
        }
        li {
            cursor: pointer;
            background-color: rgba(44, 57, 66, 0.60);
            display: inline-block;
            border: none;
            width: 10px;
            height: 10px;
            text-indent: -9999px;
            border-radius: 50%;
            opacity: 0.25;
            margin: 0 10px;
            transition: all 0.3s ease;
            @media (max-width: $desktop) {
                width: 5px;
                height: 5px;
            }
            &.slick-active {
                background-color: #229CFF;
                opacity: 1;
            }
        }
    }
}

.promotion-item {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    background-color: #fff;
    margin: 0 10px 5px;
    border-radius: 5px;
    overflow: hidden;
    padding-bottom: 20px;
    @media (max-width: $desktop) {
        margin-left: 5px;
        margin-right: 5px;
        padding-bottom: 5px;
    }
    &__image {
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    &__description {
        color: rgba(44, 57, 66, 0.80);
        padding: 20px;
        text-align: center;
        font-family: "Gotham", sans-serif;
        font-weight: 500;
        line-height: 30px;
        @media (max-width: $desktop) {
            font-size: 12px;
            padding: 10px;
            line-height: 22px;
        }
    }
    > a {
        float: right;
        color: #229CFF;
        font-size: 14px;
        margin-right: 20px;
        position: relative;
        @media (max-width: $desktop) {
            display: none;
        }
        &:hover {
            &:before {
                left: 0;
                right: 0;
            }
        }
        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            right: 50%;
            transition: all 0.3s ease;
            background-color: #229CFF;
            height: 1px;
        }
    }
}

// *** Home Partners ***
.home-partners {
    padding-top: 100px;
    padding-bottom: 100px;
    @media (max-width: $desktop) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    &__caption {
        color: rgba(44, 57, 66, 0.80);
        font-size: 30px;
        font-family: "Gotham", sans-serif;
        font-weight: 500;
        margin-bottom: 30px;
        @media (max-width: $desktop) {
            font-size: 20px;
            margin-bottom: 20px;
        }
    }
    .partner-item {
        text-align: center;
    }
    .custom-button {
        margin-top: 40px;
        @media (max-width: $desktop) {
            margin-top: 20px;
        }
    }
}

// *** Bottom Info ***
.bottom-info {
    padding-top: 0;
    padding-bottom: 70px;
    @media (max-width: $desktop) {
        padding-bottom: 10px;
    }
    .container {
        border-top: 1px solid rgba(44, 57, 66, 0.15);
        padding-top: 100px;
        @media (max-width: $desktop) {
            padding-top: 40px;
        }
    }
    &__logo {
        display: inline-block;
        margin-bottom: 40px;
        @media (max-width: $desktop) {
            margin-bottom: 25px;
        }
    }
    &__socials {
        overflow: hidden;
        font-size: 0;
        margin-bottom: 40px;
        @media (max-width: $desktop) {
            margin-bottom: 30px;
        }
        li {
            display: inline-block;
            margin-right: 20px;
            &:last-child {
                margin-right: 0;
            }
            a {
                display: inline-block;
                width: 32px;
                height: 32px;
                text-indent: -9999px;
                &.facebook-icon {
                    background: url('../images/facebook-icon.svg') no-repeat;
                }
                &.youtube-icon {
                    background: url('../images/youtube-icon.svg') no-repeat;
                }
            }
        }
    }
    &__hotline {
        background-color: #488CF1;
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
        display: inline-block;
        border-radius: 10px;
        color: #fff;
        font-size: 20px;
        font-family: "Gotham", sans-serif;
        font-weight: 500;
        padding: 15px 20px;
        @media (max-width: $desktop) {
            margin-bottom: 50px;
            font-size: 14px;
            padding: 12px 22px;
        }
        &:hover {
            color: #fff;
        }
        .headphone-icon {
            background: url('../images/headphone-icon.svg') no-repeat;
            width: 22px;
            height: 23px;
            float: left;
            margin: 3px 15px 0 0;
            @media (max-width: $desktop) {
                margin: 0px 14px 0 0;
            }
        }
    }
    &__links {
        li {
            margin-bottom: 15px;
            a {
                color: rgba(44, 57, 66, 0.80);
                position: relative;
                @media (max-width: $desktop) {
                    font-size: 14px;
                }
                &:hover {
                    color: rgb(44, 57, 66);
                    &:before {
                        left: 0;
                        right: 0;
                    }
                }
                &:before {
                    content: "";
                    position: absolute;
                    left: 50%;
                    right: 50%;
                    transition: all 0.3s ease;
                    bottom: 0;
                    background-color: rgb(44, 57, 66);
                    height: 1px;
                }
            }
        }
    }
    &__caption {
        color: rgba(44, 57, 66, 0.80);
        font-size: 18px;
        font-family: "Gotham", sans-serif;
        font-weight: 500;
        margin-bottom: 20px;
        @media (max-width: $desktop) {
            text-align: center;
            font-size: 14px;
        }
    }
    &__stores {
        display: inline-block;
        width: 100%;
        font-size: 0;
        margin-bottom: 40px;
        @media (max-width: $desktop) {
            text-align: center;
        }
        li {
            display: inline-block;
            margin-right: 20px;
            &:last-child {
                margin-right: 0;
            }
            a {
                display: inline-block;
                &.app-store-btn {
                    background: url('../images/app-store-btn.png') no-repeat;
                    width: 187px;
                    height: 62px;
                    @media (max-width: $widescreen) {
                        background-image: url('../images/app-store-mobile-btn.png');
                        width: 139px;
                        height: 46px;
                    }
                }
                &.google-play-btn {
                    background: url('../images/google-play-btn.png') no-repeat;
                    width: 211px;
                    height: 62px;
                    @media (max-width: $widescreen) {
                        background-image: url('../images/google-play-mobile-btn.png');
                        width: 157px;
                        height: 46px;
                    }
                }
            }
        }
    }
    &__download-link {
        color: #229CFF;
        font-size: 18px;
        font-family: "Gotham", sans-serif;
        font-weight: 500;
        display: inline-block;
        padding-bottom: 2px;
        border-bottom: 1px solid #229CFF;
        @media (max-width: $desktop) {
            display: none;
        }
        &:hover {
            color: #229CFF;
        }
    }
}

// *** Footer ***
footer.footer {
    padding-top: 0;
    padding-bottom: 50px;
    color: rgba(44, 57, 66, 0.80);
    @media (max-width: $desktop) {
        font-size: 14px;
    }
    .container {
        border-top: 1px solid rgba(44, 57, 66, 0.15);
        padding-top: 30px;
    }
    .level {
        @media (max-width: $desktop) {
            flex-flow: column;
            align-items: initial;
        }
    }
    .level-left {
        @media (max-width: $desktop) {
            margin-bottom: 40px;
            justify-content: center;
        }
    }
    .level-right {
        @media (max-width: $desktop) {
            justify-content: space-around;
            display: flex;
        }
        .level-item {
            margin-right: 5rem;
            @media (max-width: $desktop) {
                margin-right: 0;
                margin-bottom: 0;
            }
        }
    }
    a {
        color: rgba(44, 57, 66, 0.80);
        position: relative;
        @media (max-width: $desktop) {
            font-size: 14px;
        }
        &:hover {
            color: rgb(44, 57, 66);
            &:before {
                left: 0;
                right: 0;
            }
        }
        &:before {
            content: "";
            position: absolute;
            left: 50%;
            right: 50%;
            transition: all 0.3s ease;
            bottom: 0;
            background-color: rgb(44, 57, 66);
            height: 1px;
        }
    }
}

// *** Download link modal ***
.download-link-modal {
    .modal-background {
        background-color: rgba(44, 57, 66, 0.35);
    }
    .modal-content {
        width: 494px;
        background: #FFFFFF;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        text-align: center;
        padding: 50px 40px;
    }
    .title {
        font-family: "Gotham", sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: rgba(44, 57, 66, 0.80);
        margin-bottom: 30px;
    }
    form {
        text-align: left;
        .wrap-input {
            position: relative;
            span {
                position: absolute;
                top: 0;
                left: 0;
                width: 84px;
                height: 48px;
                background-color: rgba(44, 57, 66, 0.80);
                border-radius: 5px 0 0 5px;
                color: #fff;
                text-align: center;
                padding-top: 13px;
            }
            input[type="text"] {
                border: 1px solid rgba(44, 57, 66, 0.30);
                height: 48px;
                width: 100%;
                border-radius: 5px;
                padding: 0 15px 0 105px;
            }
        }
        button[type="submit"] {
            background: #488cf1;
            box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .1);
            border-radius: 24px;
            width: 187px;
            height: 48px;
            border: none;
            margin: 40px auto 20px;
            display: block;
            cursor: pointer;
            color: #fff;
            transition: all 0.3s ease;
        }
    }
    .another-way-link {
        font-size: 14px;
        color: #229CFF;
        line-height: 24px;
    }
}

// *** Link was sent modal ***
.link-sent-modal {
    .modal-background {
        background-color: rgba(44, 57, 66, 0.35);
    }
    .modal-content {
        width: 494px;
        background: #FFFFFF;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        text-align: center;
        padding: 50px 40px;
    }
    .link-sent-img {
        background: url('../images/link-sent-img.png') no-repeat;
        width: 187px;
        height: 130px;
        display: inline-block;
    }
    .title {
        font-family: "Gotham", sans-serif;
        font-weight: 500;
        font-size: 18px;
        color: #488CF1;
        line-height: 24px;
        margin-top: 15px;
    }
}