/* ---------------------------------------
SPINNER
----------------------------------------- */
@import "utilities/spinner.less";

/* ---------------------------------------
CUSTOM SCROLLBAR
----------------------------------------- */
@import "utilities/scrollbar.less";

/* ---------------------------------------
PARSLEY VALIDATOR
----------------------------------------- */
input.parsley-success, select.parsley-success, textarea.parsley-success {
    background-color: #F2F9F0 !important;
    border: 1px solid #D6E9C6 !important;
}
input.parsley-error, select.parsley-error, textarea.parsley-error {
    background-color: #F9F0F0 !important;
    border: 1px solid #f09784 !important;
}
.parsley-errors-list {
    color: #d16e6c;
    font-size: 16px;
    font-weight: 300;
    list-style-type: none;
    margin-bottom: 15px;
    margin-top: -18px;
    opacity: 0;
    padding-left: 0;
    transition: all 0.3s ease-in 0s;
}
.parsley-errors-list.filled {
    opacity: 1;
}

/* ---------------------------------------
TOOLTIP
----------------------------------------- */
.tooltip {
    .tooltip-arrow {
        // left: 10%;
    }
    .tooltip-inner {
        // background-color: #FFF;
        text-align: left;
    }
}

/* ---------------------------------------
FLIP IMAGES
----------------------------------------- */
.flip-container {
    perspective: 1000;

    &:hover, &.hover {
        .flipper {
            transform: rotateY(180deg);
        }
    }
    .flipper {
        transition: 0.6s;
        transform-style: preserve-3d;
        position: relative;

        .front, .back {
            backface-visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
        }
        .front {
            z-index: 2;
            transform: rotateY(0deg);
        }
        .back {
            transform: rotateY(180deg);
        }
    }
}
.flip-container, .front, .back {
    width: 100%;
}

/* ---------------------------------------
HOMEPAGE
----------------------------------------- */
.wrap-home {
    background: url("../images/home-bg.jpg") no-repeat center / cover;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    .home-inner {
        @media (min-width:@screen-sm-min) {
            margin: 150px auto 0;
            width: 620px;
        }
    }

    /* ---------------------------------------
    LOGO
    ----------------------------------------- */
    .logo {
        margin: 20px 0;

        @media (max-width:@screen-xs-max) {
            left: 0;
            margin: 0;
            padding: 0 10px;
            position: absolute;
            right: 0;
            text-align: center;
            top: 50%;
            transform: translateY(-50%);

            img {
                max-width: 100%;
            }
        }
    }

    /* ---------------------------------------
    MAIN NAVIGAION
    ----------------------------------------- */
    .main-nav {
        @media (min-width:@screen-sm-min) {
            background: url("../images/menu-line.png") no-repeat right bottom;
            padding-bottom: 7px;
            text-align: right;
        }
        li {
            @media (min-width:@screen-sm-min) {
                display: inline-block;
                margin: 0 7px;

                &:last-child {
                    margin-right: 0;
                }
            }
            a {
                color: #000;
                font-size: 15px;
                text-transform: none;

                @media (max-width:@screen-xs-max) {
                    color: #FFF;
                }
                &:hover {
                    color: #fff;
                }
            }
        }
    }

    /* ---------------------------------------
    LANGUAGE SWITCH
    ----------------------------------------- */
    .lang-switch {
        text-align: right;

        @media (max-width:@screen-xs-max) {
            bottom: 0;
            margin-right: 10px;
            position: absolute;
            right: 0;
        }
        li {
            display: inline-block;
            margin-left: 20px;

            a {
                border: 2px solid #fff;
                color: #fff;
                display: inline-block;
                font-size: 15px;
                height: 32px;
                padding-top: 2px;
                text-align: center;
                width: 110px;

                &:hover, &:focus {
                    background-color: #fff;
                    color: #000;
                }
            }
        }
    }
}

/* ---------------------------------------
HEADER
----------------------------------------- */
header.header {
    height: 110px;
    background-color: @main-color;

    @media (max-width:@screen-xs-max) {
        height: 80px;
    }
    .container {
        position: relative;
    }

    /* ---------------------------------------
    LOGO
    ----------------------------------------- */
    .logo {
        margin: 10px 0 0;

        @media (max-width:@screen-xs-max) {
            float: left;
        }
        a {
            display: inline-block;
        }
        img {
            @media (max-width:@screen-xs-max) {
                width: 60px;
            }
        }
    }

    /* ---------------------------------------
    MAIN NAVIGAION
    ----------------------------------------- */
    .main-nav {
        position: absolute;
        right: 0;
        top: 32px;

        @media (max-width:@screen-sm-max) {
            top: 35px;
        }
        @media (max-width:@screen-xs-max) {
            position: relative;
        }
        li {
            @media (min-width:@screen-sm-min) {
                display: inline-block;
                margin: 0 2px;

                &:last-child {
                    margin-right: 0;
                }
            }
            &.current-menu-item {
                a {
                    background-color: #370003;

                    @media (max-width:@screen-xs-max) {
                        background-color: rgba(255, 255, 255, 0.2);
                    }
                }
            }
            a {
                color: #fff;
                font-size: 29px;
                padding: 5px 10px 8px;
                text-transform: none;

                @media (max-width:@screen-sm-max) {
                    font-size: 24px;
                }
                @media (max-width:@screen-xs-max) {
                    font-size: 20px;
                }
                &:hover {
                    background-color: #370003;

                    @media (max-width:@screen-xs-max) {
                        background-color: rgba(255, 255, 255, 0.2);
                    }
                }
            }
        }
    }
}

/* ---------------------------------------
HERO
----------------------------------------- */
.hero {
    overflow: hidden;
    position: relative;
    z-index: 0;
}

/* ---------------------------------------
MAIN
----------------------------------------- */
.main {
    .list-projects {
        overflow: hidden;
        width: auto;
        margin: auto;

        .megafolio-container {
            width: 100%;
            position: relative;

            .mega-entry {
                .mega-entry-innerwrap {
                    border: 1px solid #fff;
                    filter: grayscale(1);
                    transition: all 0.3s ease;

                    &:hover, &:focus {
                        filter: grayscale(0);
                    }
                    .fancybox {
                        bottom: 0;
                        left: 0;
                        position: absolute;
                        right: 0;
                        top: 0;
                        z-index: 2;
                    }
                    .fa-play {
                        border: 3px solid #fff;
                        border-radius: 50%;
                        color: #fff;
                        font-size: 64px;
                        height: 80px;
                        left: 50%;
                        padding: 6px 0 0 18px;
                        position: absolute;
                        top: 50%;
                        width: 80px;
                        z-index: 1;
                        transform: translate(-50%, -50%);
                    }
                    .title {
                        background-color: rgba(0, 0, 0, 0.3);
                        bottom: 0;
                        color: #fff;
                        font-size: 30px;
                        left: 0;
                        margin: 0;
                        padding: 30px 30px 30px 0;
                        position: absolute;
                        right: 0;
                        text-align: right;
                        z-index: 3;

                        @media (max-width:@screen-sm-max) {
                            font-size: 25px;
                            padding: 20px 20px 20px 0;
                        }
                        @media (max-width:@screen-xs-max) {
                            font-size: 18px;
                            padding: 10px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

/* ---------------------------------------
FOOTER
----------------------------------------- */
.footer {
    background-color: @main-color;
    padding: 25px 0;
    color: #FFF;

    @media (max-width:@screen-xs-max) {
        text-align: center;
    }
    h4 {
        font-weight: bold;
        margin: 0 0 4px;
    }
    p {
        margin-bottom: 3px;
    }
    .footer-socials {
        margin-top: 15px;

        li {
            display: inline-block;

            .flip-container, .front, .back {
                height: 48px;
                width: 48px;
            }
            .flipper {
                i {
                    background-color: #fff;
                    border-radius: 50%;
                    color: #5e111a;
                    font-size: 30px;
                    height: 48px;
                    left: 0;
                    line-height: 48px;
                    position: absolute;
                    text-align: center;
                    top: 0;
                    width: 48px;
                }
                .back {
                    i {
                        color: #fff;

                        &.fa-google-plus {
                            background-color: #d13f2d;
                        }
                        &.fa-linkedin {
                            background-color: #0275b6;
                        }
                        &.fa-facebook {
                            background-color: #3b5998;
                        }
                        &.fa-twitter {
                            background-color: #44CCF6;
                        }
                    }
                }
            }
        }
    }
}